.overflow-auto {
    overflow: auto;
}

.top-box {
    background-color: aquamarine;
}

.beige {
    background-color: beige;
}

.column-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-auto {
    flex: auto;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    margin: 0;
}
