# line ending settings based on
# https://help.github.com/articles/dealing-with-line-endings/
# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.php text
*.inc text
*.txt text
*.html text
*.css text
*.js text
*.sh text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.gif binary
*.odf binary
*.odt binary
*.pdf binary
*.ttf binary
*.psd binary
*.mo binary
*.sit binary
*.woff binary
*.woff2 binary
*.eot binary
