# https://phpstan.org/config-reference

parameters:
    fileExtensions:
        - php
        - inc
    paths:
        - .
    excludePaths:
        - SETUP/*
        - vendor/*
        - node_modules/*
    bootstrapFiles:
        - SETUP/phpstan_bootstrap.inc
        - pinc/bootstrap.inc
    tmpDir: .phpstan.cache

    # https://phpstan.org/user-guide/rule-levels
    # We want to gradually ratchet up the level here.
    level: 5

    ignoreErrors:
        # Errors in third party code, and our interfaces to it
        - message: '#Property .* does not accept false#'
          path: pinc/3rdparty/mediawiki/DairikiDiff.php
        - message: '#Comparison operation .* results in an error#'
          path: pinc/3rdparty/mediawiki/DiffEngine.php
        - message: '#^Parameter \#2 \$.* of function array_fill expects int, float given\.$#'
          path: pinc/3rdparty/mediawiki/DiffEngine.php
        - message: '#Instantiated class DiffFormatter is abstract#'
          path: pinc/DifferenceEngineWrapper.inc

        - message: '#invoked with \d+ parameter(s?), \d+((-\d+)?) required#'
        - message: '#Variable .* might not be defined#'
        - message: '#Constant .* not found#'

        # Low value and frequent L5 errors that are ignored by default.
        - message: "#^Parameter \\#1 \\$array1 of function array_multisort is passed by reference, so it expects variables only\\.$#"
          # This only applies to PHP7, remove this rule when we use PHP8.
          reportUnmatched: false
        - message: '#^Parameter \#\d+ .* of (static )?(function|method) .* expects string(\|null)?, int.* given\.$#'

        # Temporary baseline while switching PHPStan to level 5.
        # TODO(jchaffraix): Fix and remove all those entries.
        # For PHP7:
        - message: "#^Parameter \\#4 \\$filter_custom_display_fields of function show_projects_for_stage expects array, null given\\.$#"
          count: 1
          path: pinc/showavailablebooks.inc
          reportUnmatched: false

        - message: "#^Parameter \\#9 \\$pi_tools of class Round constructor expects array\\<string, array\\<string\\>\\>, array\\<string, string\\> given\\.$#"
          count: 2
          path: pinc/stages.inc
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$number of function number_format expects float, string given\\.$#"
          count: 1
          path: stats/includes/team.inc
          reportUnmatched: false

        - message: "#^Parameter \\#2 \\$pieces of function implode expects array, string given\\.$#"
          count: 2
          path: tools/project_manager/add_files.php
          reportUnmatched: false

        # For PHP8:
        - message: "#^Parameter \\#1 \\$array of function array_multisort is passed by reference, so it expects variables only\\.$#"
          count: 1
          path: pinc/page_tally.inc
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$array of function array_multisort is passed by reference, so it expects variables only\\.$#"
          count: 1
          path: pinc/special_colors.inc
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$num of function number_format expects float, string given\\.$#"
          count: 1
          path: stats/includes/team.inc
          reportUnmatched: false

        - message: "#^Parameter \\#2 \\$array of function implode expects array\\|null, string given\\.$#"
          count: 2
          path: tools/project_manager/add_files.php
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$array of function array_multisort is passed by reference, so it expects variables only\\.$#"
          count: 1
          path: tools/project_manager/show_adhoc_word_details.php
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$array of function array_multisort is passed by reference, so it expects variables only\\.$#"
          count: 1
          path: tools/project_manager/show_all_good_word_suggestions.php
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$array of function array_multisort is passed by reference, so it expects variables only\\.$#"
          count: 1
          path: tools/project_manager/show_current_flagged_words.php
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$array of function array_multisort is passed by reference, so it expects variables only\\.$#"
          count: 2
          path: tools/project_manager/show_good_word_suggestions.php
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$array of function array_multisort is passed by reference, so it expects variables only\\.$#"
          count: 1
          path: tools/project_manager/show_project_possible_bad_words.php
          reportUnmatched: false

        - message: "#^Parameter \\#1 \\$array of function array_multisort is passed by reference, so it expects variables only\\.$#"
          count: 1
          path: tools/project_manager/show_project_stealth_scannos.php
          reportUnmatched: false
