# https://phpstan.org/config-reference

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    fileExtensions:
        - php
        - inc
    paths:
        - .
    excludePaths:
        - SETUP/*
        - vendor/*
        - node_modules/*
    bootstrapFiles:
        - SETUP/phpstan_bootstrap.inc
        - pinc/bootstrap.inc
    tmpDir: .phpstan.cache

    # https://phpstan.org/user-guide/rule-levels
    # We want to gradually ratchet up the level here.
    level: 6

    ignoreErrors:
        # TODO(bpfoley) PHPStan level 6 errors we haven't fixed yet
        - identifier: missingType.return
          paths:
              - stats/equilibria.php
              - stats/index.php
              - stats/misc_stats1.php
              - stats/pp_stage_goal.php
              - stats/round_backlog.php
              - stats/round_backlog_days.php
              - tools/changestate.php
              - tools/modify_access.php
              - tools/post_proofers/ppv_report.php
              - tools/project_manager/bad_bytes_explainer.php
              - tools/project_manager/clearance_check.php
              - tools/project_manager/diff.php
              - tools/project_manager/edit_project_word_lists.php
              - tools/project_manager/editproject.php
              - tools/project_manager/external_catalog_search.php
              - tools/project_manager/generate_post_files.php
              - tools/project_manager/handle_bad_page.php
              - tools/project_manager/manage_image_sources.php
              - tools/project_manager/page_detail.php
              - tools/project_manager/projectmgr.php
              - tools/project_manager/remote_file_manager.php
              - tools/project_manager/show_good_word_suggestions_detail.php
              - tools/project_manager/show_image_sources.php
              - tools/project_manager/show_specials.php
              - tools/project_manager/update_illos.php
              - tools/proofers/for_mentors.php
              - tools/proofers/images_index.php
              - tools/proofers/mktable.php
              - tools/proofers/my_projects.php
              - tools/proofers/my_suggestions.php
              - tools/proofers/proof_frame.php
              - tools/proofers/review_work.php
              - tools/set_project_event_subs.php
              - tools/site_admin/projects_with_odd_values.php
              - tools/site_search.php
              - tools/upload_resumable_file.php
        - identifier: missingType.parameter
          paths:
              - stats/equilibria.php
              - stats/index.php
              - stats/misc_stats1.php
              - stats/pp_stage_goal.php
              - tools/changestate.php
              - tools/modify_access.php
              - tools/post_proofers/ppv_report.php
              - tools/project_manager/bad_bytes_explainer.php
              - tools/project_manager/clearance_check.php
              - tools/project_manager/diff.php
              - tools/project_manager/edit_project_word_lists.php
              - tools/project_manager/editproject.php
              - tools/project_manager/generate_post_files.php
              - tools/project_manager/handle_bad_page.php
              - tools/project_manager/manage_image_sources.php
              - tools/project_manager/projectmgr.php
              - tools/project_manager/show_good_word_suggestions_detail.php
              - tools/project_manager/update_illos.php
              - tools/proofers/images_index.php
              - tools/proofers/mktable.php
              - tools/proofers/my_projects.php
              - tools/proofers/my_suggestions.php
              - tools/proofers/proof_frame.php
              - tools/proofers/review_work.php
              - tools/set_project_event_subs.php
              - tools/site_admin/projects_with_odd_values.php
              - tools/upload_resumable_file.php
        - identifier: missingType.iterableValue
          paths:
              - tools/project_manager/page_compare.php
              - tools/project_manager/show_adhoc_word_details.php
              - tools/project_manager/show_all_good_word_suggestions.php
              - tools/project_manager/show_current_flagged_words.php
              - tools/project_manager/show_good_word_suggestions.php
              - tools/project_manager/show_project_possible_bad_words.php
              - tools/project_manager/show_project_stealth_scannos.php
              - tools/proofers/for_mentors.php
              - tools/site_admin/copy_pages.php
              - tools/site_admin/delete_pages.php
              - tools/site_admin/shared_postednums.php
              - tools/site_search.php

        # Errors in third party code, and our interfaces to it
        - message: '#Property .* does not accept false#'
          path: pinc/3rdparty/mediawiki/DairikiDiff.php
        - message: '#Parameter &\$changed by-ref type of method DiffEngine::shiftBoundaries\(\) expects .* given#'
          path: pinc/3rdparty/mediawiki/DiffEngine.php
        - message: '#^Parameter \#2 \$.* of function array_fill expects int, float given\.$#'
          path: pinc/3rdparty/mediawiki/DiffEngine.php
        - message: '#Assign to \$.* overwrites the last element from array\.$#'
          path: pinc/3rdparty/mediawiki/DiffEngine.php
        - message: '#If condition is always false\.$#'
          path: pinc/3rdparty/mediawiki/DiffFormatter.php
        - message: '#Instantiated class DiffFormatter is abstract#'
          path: pinc/DifferenceEngineWrapper.inc
        - message: '#Call to function is_array\(\) with array<string> will always evaluate to true.#'
          path: pinc/3rdparty/mediawiki/WordLevelDiff.php
        - message: '#Function get_dpl_enforcement_for_user\(\) never returns null.*#'
          path: pinc/daily_page_limit.inc

        - message: '#invoked with \d+ parameter(s?), \d+((-\d+)?) required#'
        - message: '#Variable .* might not be defined#'
        - message: '#Constant .* not found#'

        # Low value and frequent L5 errors that are ignored by default.
        - message: '#^Parameter \#\d+ .* of (static )?(function|method) .* expects string(\|null)?, int.* given\.$#'

        # TODO(jchaffraix): Temporarily disabling those as they are dynamically created (see comment in Pool's constructor).
        - message: "#^Access to an undefined property Pool::\\$project_available_state.$#"
          path: pinc/ProjectState.inc
          reportUnmatched: false
        - message: "#^Access to an undefined property Pool::\\$project_checkedout_state.$#"
          path: pinc/ProjectState.inc
          reportUnmatched: false
        - message: "#^Access to an undefined property Pool::\\$states.$#"
          path: pinc/ProjectState.inc
          reportUnmatched: false

        # Level 6 errors in third party code, and our interfaces to it
        - message: '#^Property .* has no type specified\.$#'
          paths:
            - pinc/BBDiffFormatter.inc
            - pinc/3rdparty/mediawiki/*.php
        - message: '#^Method .* has parameter \$.* with no type specified\.$#'
          paths:
            - pinc/BBDiffFormatter.inc
            - pinc/3rdparty/mediawiki/*.php
        - message: '#^Method .* has no return type specified\.$#'
          paths:
            - pinc/BBDiffFormatter.inc
            - pinc/3rdparty/mediawiki/*.php
        - message: '#^Method .* has parameter \$.* with no value type specified in iterable type array.$#'
          paths:
            - pinc/BBDiffFormatter.inc
            - pinc/3rdparty/mediawiki/*.php
        - message: '#^Method .* return type has no value type specified in iterable type array.$#'
          paths:
            - pinc/3rdparty/mediawiki/*.php

    typeAliases:
        # TODO: data.y should be numeric list, but callers needs fixing
        GraphConfig: """
            array{
                width?: int,
                height?: int,
                axisLeft?: bool,
                yAxisLabel?: string,
                xAxisHeight?: int,
                yAxisTickCount?: int,
                groupBars?: bool,
                barColors?: string[],
                title?: string,
                downloadLabel?: string,
                legendAdjustment?: array{x?: int, y?: int},
                bottomLegend?: string,
                data: array<
                    string,
                    array{type?: string, x: string[], y: mixed[]}
                    >,
            }
            """
        # TODO: Fix duplication between this and class SpecialDay
        SpecialDayInfo: """
            array{
                spec_code?: string,
                display_name: string,
                enable?: int,
                comment?: string,
                color: string,
                open_day?: int,
                open_month?: int,
                close_day?: int,
                close_month?: int,
                date_changes?: string,
                info_url?: string,
                image_url?: string,
                symbol: string,
                option_label?: string,
            }
            """
        HeaderExtraArgs: """
            array{
                frameset?: bool,          // false (default) | true
                head_data?: string,       // string to output as-is in <head> tag
                css_files?: string[],     // CSS files to include in the page
                css_data?: string,        // CSS to include in the page
                js_data?: string,         // JS code to include in the page,
                js_files?: string[],      // array of .js files to link to
                js_modules?: string[],    // array of .js files to link astype=module
                js_module_data?: string,  // <script type='module'> code to include
                body_attributes?: string, // body tag attributes to output
            }
            """
