/* ------------------------------------------------------------------------ */
/* Theme coloring for Classic Grey */
/* ------------------------------------------------------------------------ */
/* mixins with color */
/* standalone classes that can be used as mixins, but that should not
 * be given parameters, as they can't be used as classes in the code
 * directly if they have parameters that the lessc compiler has to 
 * sort out
 */
.default-border {
  border: thin solid black;
}
.default-border-bottom {
  border-bottom: thin solid black;
}
/* ------------------------------------------------------------------------ */
/* Attention-getting structures */
.error,
.test_warning {
  color: red;
}
.warning {
  color: blue;
}
.highlight {
  background-color: yellow;
  color: black;
}
.button {
  font-family: Verdana, Helvetica, sans-serif;
}
kbd {
  color: #cc0000;
}
div.callout {
  background-color: #EEE;
  border: thin solid black;
}
/* ------------------------------------------------------------------------ */
body {
  background-color: #ffffff;
  color: #000000;
}
body a:link {
  color: #0000ff;
}
body a:visited {
  color: #0000ff;
}
body a:active {
  color: #0000ff;
}
header,
#header {
  background-color: #dddddd;
  color: #000000;
}
header #titles-preserved,
#header #titles-preserved {
  font-size: 0.9em;
}
header #titles-preserved #x-preserved,
#header #titles-preserved #x-preserved {
  font-weight: bold;
  font-family: Verdana, Helvetica, sans-serif;
}
/* Navbar */
nav,
#navbar-outer,
#navbar,
#navbar-left,
#navbar-right,
#navbar-login {
  background-color: #444444;
  font-family: Verdana, Helvetica, sans-serif;
}
nav a:link,
#navbar-outer a:link,
#navbar a:link,
#navbar-left a:link,
#navbar-right a:link,
#navbar-login a:link,
nav a:visited,
#navbar-outer a:visited,
#navbar a:visited,
#navbar-left a:visited,
#navbar-right a:visited,
#navbar-login a:visited,
nav a:active,
#navbar-outer a:active,
#navbar a:active,
#navbar-left a:active,
#navbar-right a:active,
#navbar-login a:active {
  color: #ffffff;
}
nav label,
#navbar-outer label,
#navbar label,
#navbar-left label,
#navbar-right label,
#navbar-login label,
nav span.text,
#navbar-outer span.text,
#navbar span.text,
#navbar-left span.text,
#navbar-right span.text,
#navbar-login span.text,
nav span.currentpage,
#navbar-outer span.currentpage,
#navbar span.currentpage,
#navbar-left span.currentpage,
#navbar-right span.currentpage,
#navbar-login span.currentpage {
  color: #ffffff;
}
nav input,
#navbar-outer input,
#navbar input,
#navbar-left input,
#navbar-right input,
#navbar-login input {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11px;
}
#alertbar,
#alertbar-outer {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: rgba(255, 255, 0, 0.4);
  color: black;
}
#alertbar a:link,
#alertbar-outer a:link,
#alertbar a:visited,
#alertbar-outer a:visited,
#alertbar a:active,
#alertbar-outer a:active {
  color: #4d4d4d;
}
#testbar,
#testbar-outer {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #ffffff;
  background: repeating-linear-gradient(to right, yellow, #ffffff 24%, #ffffff 75%, yellow 100%);
  color: black;
  border-bottom: thin solid black;
}
#testbar a:link,
#testbar-outer a:link,
#testbar a:visited,
#testbar-outer a:visited,
#testbar a:active,
#testbar-outer a:active {
  color: #4d4d4d;
}
/* Layout */
#page-container {
  background-color: #dddddd;
}
#content-container {
  background-color: #ffffff;
  color: #000000;
}
#rounded-corner {
  background-color: #ffffff;
}
#sidebar,
#statsbar {
  background-color: #dddddd;
  color: #000000;
}
#sidebar p,
#statsbar p,
#sidebar li,
#statsbar li,
#sidebar td,
#statsbar td,
#sidebar th,
#statsbar th {
  font-family: Verdana, Helvetica, sans-serif;
}
footer,
#footer {
  background-color: #cccccc;
  color: #000000;
  font-family: Verdana, Helvetica, sans-serif;
}
footer a:link,
#footer a:link,
footer a:visited,
#footer a:visited,
footer a:active,
#footer a:active {
  color: #000000;
}
/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  font-family: Verdana, Helvetica, sans-serif;
}
.sidebar-color {
  background-color: #dddddd;
}
/* ------------------------------------------------------------------------ */
/* News items */
div.newsitem {
  box-shadow: -5px -5px 5px lightgrey;
}
/* ------------------------------------------------------------------------ */
/* FAQ */
div.faqheader {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #444444;
  color: #ffffff;
}
/* ------------------------------------------------------------------------ */
/* User Preferences */
table.preferences td,
table.preferences th {
  border: thin solid black;
}
table.preferences th.label,
table.preferences th.longlabel {
  background-color: #dddddd;
  color: #000000;
}
.tabs {
  border-bottom: thin solid grey;
}
.tabs li {
  background-color: #dddddd;
  border: thin solid grey;
}
.tabs li a {
  color: #000000;
}
.tabs .current-tab {
  background-color: #ffffff;
  border: thin solid grey;
}
.tabs .current-tab a {
  color: #000000;
}
/* ------------------------------------------------------------------------ */
/* Themed tables */
table.themed {
  border: thin solid black;
}
table.themed tr {
  background-color: #dddddd;
  color: #000000;
}
table.themed tr th {
  background-color: #444444;
  color: #ffffff;
}
table.themed tr th a:link,
table.themed tr th a:visited {
  color: #ffffff;
}
table.theme_striped tr:nth-child(even) {
  background-color: #dddddd;
}
table.theme_striped tr:nth-child(odd) {
  background-color: #ffffff;
}
table.striped tr:nth-child(even) td {
  background-color: #ddd;
}
table.basic {
  border: thin solid black;
}
table.basic th {
  background-color: #CCC;
}
table.basic td,
table.basic th {
  border: thin solid black;
}
table.basic td.satisfied {
  background-color: #ccffcc;
}
table.basic td.not_satisfied {
  background-color: #ffcccc;
}
/* ------------------------------------------------------------------------ */
/* Available Project Listings */
table.availprojectlisting {
  border: thin solid black;
}
table.availprojectlisting tr th {
  border-bottom: thin solid black;
}
table.availprojectlisting tr td {
  border-bottom: thin solid #888;
}
table.availprojectlisting tr:nth-child(even) {
  background-color: #ddd;
}
/* Default stage colors, which can be overridden by the themes */
table.stage_P1 tr:nth-child(even) {
  background-color: #ffe4b5;
}
table.stage_P1 tr:nth-child(odd) {
  background-color: cornsilk;
}
table.stage_P2 tr:nth-child(even) {
  background-color: #ffe4b5;
}
table.stage_P2 tr:nth-child(odd) {
  background-color: cornsilk;
}
table.stage_P3 tr:nth-child(even) {
  background-color: plum;
}
table.stage_P3 tr:nth-child(odd) {
  background-color: thistle;
}
table.stage_F1 tr:nth-child(even) {
  background-color: #ffe4b5;
}
table.stage_F1 tr:nth-child(odd) {
  background-color: cornsilk;
}
table.stage_F2 tr:nth-child(even) {
  background-color: plum;
}
table.stage_F2 tr:nth-child(odd) {
  background-color: thistle;
}
table.stage_PP tr:nth-child(even) {
  background-color: #cccccc;
}
table.stage_PP tr:nth-child(odd) {
  background-color: #ffffff;
}
table.stage_PPV tr:nth-child(even) {
  background-color: #99ffff;
}
table.stage_PPV tr:nth-child(odd) {
  background-color: #eaf7f7;
}
table.stage_SR tr:nth-child(even) {
  background-color: #ccffcc;
}
table.stage_SR tr:nth-child(odd) {
  background-color: #ccff99;
}
/* ------------------------------------------------------------------------ */
/* Sans-serif styling */
.sans-serif {
  font-family: Verdana, Helvetica, sans-serif;
}
/* ------------------------------------------------------------------------ */
/* PPV Report */
p.form_problem {
  color: red;
  font-weight: bold;
}
table.ppv_reportcard {
  border: thin solid black;
}
table.ppv_reportcard th {
  text-align: center;
  font-weight: bold;
  border: thin solid black;
}
table.ppv_reportcard th.major_section {
  background-color: #dddddd;
}
table.ppv_reportcard th.minor_section {
  background-color: #99ff99;
}
table.ppv_reportcard th.heading {
  background-color: #e0e8dd;
}
table.ppv_reportcard td {
  border: thin solid black;
}
/* ------------------------------------------------------------------------ */
/* Image Sources */
table.image_source th {
  background-color: #eee;
  border: thin solid #999;
}
table.image_source td {
  border: thin solid #999;
}
table.image_source tr.e {
  background-color: #eee;
}
table.image_source tr.o {
  background-color: #ddd;
}
table.image_source td.enabled {
  background-color: #9f9;
}
table.image_source td.disabled {
  background-color: #ddd;
}
table.image_source td.pending {
  background-color: #ff8;
}
div.perms_wrapper {
  border-bottom: dotted black 1px;
}
/* ------------------------------------------------------------------------ */
/* Page Detail */
table.pagedetail th,
table.pagedetail td {
  border: thin solid black;
}
table.pagedetail td.in_progress {
  background-color: #FC6;
}
table.pagedetail td.done_current {
  background-color: #9F6;
}
table.pagedetail td.done_previous {
  background-color: #F36;
}
/* ------------------------------------------------------------------------ */
/* Registration table */
table.register {
  border: thin solid black;
}
table.register td.bar {
  background-color: #444444;
}
table.register th {
  background-color: #dddddd;
}
/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */
table.snapshottable td,
table.snapshottable th {
  border: thin solid black;
}
table.snapshottable th {
  background-color: #dddddd;
}
table.snapshottable th.activity-icon-header {
  background-color: #ffffff;
}
/* ------------------------------------------------------------------------ */
/* Progress bar */
div.progressbar {
  border: thin solid black;
}
/* ------------------------------------------------------------------------ */
/* Special days tables */
table.list_special_days td,
table.list_special_days th {
  border: thin solid #999;
}
table.list_special_days tr.e {
  background-color: #eee;
}
table.list_special_days tr.o {
  background-color: #ddd;
}
table.list_special_days td.enabled {
  background-color: #9f9;
}
table.list_special_days td.disabled {
  background-color: #ddd;
}
table.list_special_days tr.month > * {
  border: none;
  border-bottom: solid 2px black;
}
table.show_special_days th {
  background-color: #eeeeee;
}
table.edit_special_day th,
table.edit_special_day td {
  border: thin solid black;
  background-color: #eeeeee;
}
/* ------------------------------------------------------------------------ */
/* Search Results drop-down */
.dropdown-content {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.3em;
}
/* ------------------------------------------------------------------------ */
/* PM link box */
#pm_links {
  border: thin solid black;
}
.access-yes {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: green;
}
.access-yes a:link,
.access-yes a:visited,
.access-yes a:active {
  color: green;
  text-decoration: none;
}
.access-no {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: red;
}
.access-no a:link,
.access-no a:visited,
.access-no a:active {
  color: red;
  text-decoration: none;
}
.access-eligible {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
  font-size: 1.1em;
  font-weight: bold;
  color: blue;
}
.access-eligible a:link,
.access-eligible a:visited,
.access-eligible a:active {
  color: blue;
  text-decoration: none;
}
/* ------------------------------------------------------------------------ */
/* WordCheck pages */
.preWC {
  background-color: #c2c2c2;
}
.noWC {
  background-color: #ffb321;
  font-weight: bold;
}
.WC {
  background-color: #97fc9e;
}
/* ------------------------------------------------------------------------ */
/* replace text validator */
.replace_check {
  border: thin solid black;
}
/* ======================================================================== */
/* Page Interface Structures */
/*
 * The following classes all relate to various page interfaces, such as the
 * proofreading interfaces (standard and enhanced), WordCheck, the proofreading
 * toolbox, code point validator, display image interface, etc.
 */
/* Base layer for page interface */
/* Text pane */
/* Control panes */
.page-interface {
  background-color: #CDCDC1;
  color: black;
}
.page-interface .text-pane {
  background-color: #FFF8DC;
  color: black;
}
.page-interface .control-pane {
  background-color: #CDC0B0;
  color: black;
}
.page-interface .control-pane input,
.page-interface .control-pane select,
.page-interface .control-pane button {
  background-color: #FFF8DC;
  border: thin solid black;
}
.page-interface .control-pane button,
.page-interface .control-pane input[type=submit],
.page-interface .control-pane input[type=button] {
  box-shadow: 1px 1px grey;
}
.page-interface .control-pane input[type=image] {
  border: none;
}
.page-interface .control-pane .menu {
  background-color: Bisque;
}
/* ------------------------------------------------------------------------ */
/* Proofreading control frame */
.control-frame {
  background-color: #CDC0B0;
  color: black;
}
.control-frame input,
.control-frame select,
.control-frame button {
  background-color: #FFF8DC;
  border: thin solid black;
}
.control-frame button,
.control-frame input[type=submit],
.control-frame input[type=button] {
  box-shadow: 1px 1px grey;
}
.control-frame input[type=image] {
  border: none;
}
.control-frame .menu {
  background-color: Bisque;
}
/* ------------------------------------------------------------------------ */
/* Proofreading Toolbox */
#toolbox {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #CDC0B0;
  color: black;
}
#toolbox input,
#toolbox select,
#toolbox button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#toolbox button,
#toolbox input[type=submit],
#toolbox input[type=button] {
  box-shadow: 1px 1px grey;
}
#toolbox input[type=image] {
  border: none;
}
#toolbox .menu {
  background-color: Bisque;
}
#toolbox .selector_button {
  background-color: Bisque;
}
#toolbox .selected-tab {
  font-weight: bold;
  background-color: #FFF8DC;
  box-shadow: -1px -1px grey;
}
#toolbox #hide-picker {
  box-shadow: -1px -1px grey;
}
/* ------------------------------------------------------------------------ */
/* Format Preview */
#format_preview {
  background-color: #CDCDC1;
  color: black;
}
#format_preview .text-pane {
  background-color: #FFF8DC;
  color: black;
}
#format_preview .control-pane {
  background-color: #CDC0B0;
  color: black;
}
#format_preview .control-pane input,
#format_preview .control-pane select,
#format_preview .control-pane button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#format_preview .control-pane button,
#format_preview .control-pane input[type=submit],
#format_preview .control-pane input[type=button] {
  box-shadow: 1px 1px grey;
}
#format_preview .control-pane input[type=image] {
  border: none;
}
#format_preview .control-pane .menu {
  background-color: Bisque;
}
.ilb {
  border: thin solid #404040;
  border-radius: 2px;
  background-color: #CDC0B0;
  color: black;
}
.ilb input,
.ilb select,
.ilb button {
  background-color: #FFF8DC;
  border: thin solid black;
}
.ilb button,
.ilb input[type=submit],
.ilb input[type=button] {
  box-shadow: 1px 1px grey;
}
.ilb input[type=image] {
  border: none;
}
.ilb .menu {
  background-color: Bisque;
}
/* ------------------------------------------------------------------------ */
/* Page Browser */
#page-browser {
  background-color: #CDCDC1;
  color: black;
}
#page-browser .text-pane {
  background-color: #FFF8DC;
  color: black;
}
#page-browser .control-pane {
  background-color: #CDC0B0;
  color: black;
}
#page-browser .control-pane input,
#page-browser .control-pane select,
#page-browser .control-pane button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#page-browser .control-pane button,
#page-browser .control-pane input[type=submit],
#page-browser .control-pane input[type=button] {
  box-shadow: 1px 1px grey;
}
#page-browser .control-pane input[type=image] {
  border: none;
}
#page-browser .control-pane .menu {
  background-color: Bisque;
}
#page-browser .control-pane {
  border-bottom: thin solid #999;
}
#page-browser .control-pane .img-button {
  border: 0;
  box-shadow: none;
}
/* ------------------------------------------------------------------------ */
/* Standard Editing Interface */
#standard_interface {
  background-color: #CDCDC1;
  color: black;
}
#standard_interface .text-pane {
  background-color: #FFF8DC;
  color: black;
}
#standard_interface .control-pane {
  background-color: #CDC0B0;
  color: black;
}
#standard_interface .control-pane input,
#standard_interface .control-pane select,
#standard_interface .control-pane button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#standard_interface .control-pane button,
#standard_interface .control-pane input[type=submit],
#standard_interface .control-pane input[type=button] {
  box-shadow: 1px 1px grey;
}
#standard_interface .control-pane input[type=image] {
  border: none;
}
#standard_interface .control-pane .menu {
  background-color: Bisque;
}
/* ------------------------------------------------------------------------ */
/* Enhanced Editing Interface */
#enhanced_interface {
  background-color: #CDCDC1;
  color: black;
}
#enhanced_interface .text-pane {
  background-color: #FFF8DC;
  color: black;
}
#enhanced_interface .control-pane {
  background-color: #CDC0B0;
  color: black;
}
#enhanced_interface .control-pane input,
#enhanced_interface .control-pane select,
#enhanced_interface .control-pane button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#enhanced_interface .control-pane button,
#enhanced_interface .control-pane input[type=submit],
#enhanced_interface .control-pane input[type=button] {
  box-shadow: 1px 1px grey;
}
#enhanced_interface .control-pane input[type=image] {
  border: none;
}
#enhanced_interface .control-pane .menu {
  background-color: Bisque;
}
#enhanced_interface #tbtext {
  border: thin solid black;
}
#enhanced_interface #tdtop {
  border: thin solid black;
  background-color: #CDC0B0;
  color: black;
}
#enhanced_interface #tdtop input,
#enhanced_interface #tdtop select,
#enhanced_interface #tdtop button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#enhanced_interface #tdtop button,
#enhanced_interface #tdtop input[type=submit],
#enhanced_interface #tdtop input[type=button] {
  box-shadow: 1px 1px grey;
}
#enhanced_interface #tdtop input[type=image] {
  border: none;
}
#enhanced_interface #tdtop .menu {
  background-color: Bisque;
}
#enhanced_interface #tdtext {
  border: thin solid black;
  background-color: #CDCDC1;
  color: black;
}
#enhanced_interface #tdtext .text-pane {
  background-color: #FFF8DC;
  color: black;
}
#enhanced_interface #tdtext .control-pane {
  background-color: #CDC0B0;
  color: black;
}
#enhanced_interface #tdtext .control-pane input,
#enhanced_interface #tdtext .control-pane select,
#enhanced_interface #tdtext .control-pane button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#enhanced_interface #tdtext .control-pane button,
#enhanced_interface #tdtext .control-pane input[type=submit],
#enhanced_interface #tdtext .control-pane input[type=button] {
  box-shadow: 1px 1px grey;
}
#enhanced_interface #tdtext .control-pane input[type=image] {
  border: none;
}
#enhanced_interface #tdtext .control-pane .menu {
  background-color: Bisque;
}
#enhanced_interface #tdbottom {
  border: thin solid black;
  background-color: #EEDFCC;
}
#enhanced_interface #text_data,
#enhanced_interface #text_data:focus {
  background-color: #FFF8DC;
  color: black;
}
#enhanced_interface .dropsmall {
  font-size: 75%;
}
/* ------------------------------------------------------------------------ */
/* WordCheck Interface */
#wordcheck_interface {
  background-color: #CDCDC1;
  color: black;
}
#wordcheck_interface .text-pane {
  background-color: #FFF8DC;
  color: black;
}
#wordcheck_interface .control-pane {
  background-color: #CDC0B0;
  color: black;
}
#wordcheck_interface .control-pane input,
#wordcheck_interface .control-pane select,
#wordcheck_interface .control-pane button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#wordcheck_interface .control-pane button,
#wordcheck_interface .control-pane input[type=submit],
#wordcheck_interface .control-pane input[type=button] {
  box-shadow: 1px 1px grey;
}
#wordcheck_interface .control-pane input[type=image] {
  border: none;
}
#wordcheck_interface .control-pane .menu {
  background-color: Bisque;
}
#wordcheck_interface #tbtext {
  border: thin solid black;
}
#wordcheck_interface #tdtop {
  border: thin solid black;
  background-color: #CDC0B0;
  color: black;
}
#wordcheck_interface #tdtop input,
#wordcheck_interface #tdtop select,
#wordcheck_interface #tdtop button {
  background-color: #FFF8DC;
  border: thin solid black;
}
#wordcheck_interface #tdtop button,
#wordcheck_interface #tdtop input[type=submit],
#wordcheck_interface #tdtop input[type=button] {
  box-shadow: 1px 1px grey;
}
#wordcheck_interface #tdtop input[type=image] {
  border: none;
}
#wordcheck_interface #tdtop .menu {
  background-color: Bisque;
}
#wordcheck_interface #tdtext {
  border: thin solid black;
  background-color: #FFF8DC;
  color: black;
}
/* ------------------------------------------------------------------------ */
/* Codepoint Validator */
.stretchbox {
  background-color: #FFF8DC;
  color: black;
}
.fixedbox {
  background-color: #CDC0B0;
  color: black;
}
.fixedbox input,
.fixedbox select,
.fixedbox button {
  background-color: #FFF8DC;
  border: thin solid black;
}
.fixedbox button,
.fixedbox input[type=submit],
.fixedbox input[type=button] {
  box-shadow: 1px 1px grey;
}
.fixedbox input[type=image] {
  border: none;
}
.fixedbox .menu {
  background-color: Bisque;
}
.bad-char {
  background: #ff99cc;
}
/* vim: sw=4 ts=4 expandtab
*/
/* vim: sw=4 ts=4 expandtab
*/
