/* ------------------------------------------------------------------------ */
/* Theme coloring for Project Gutenberg */

@import "theme.less";

@theme-name: "project_gutenberg";

@page-background: #ffffff;
@page-text: #000000;
@header-background: #e0e8dd;
@header-text: #000000;
@navbar-background: #336633;
@navbar-text: #ffffff;
@sidebar-background: #e0e8dd;
@sidebar-text: #000000;
@footer-background: #336633;
@footer-text: #ffffff;
@heading-color: #234523;
@link-color: #0000ff;
@visited-color: #990099;
@active-color: #ff0000;
@sans-serif-font: Verdana, Helvetica, sans-serif;

/* vim: sw=4 ts=4 expandtab
*/
