/* ------------------------------------------------------------------------ */
/* Theme coloring for Project Gutenberg */
/* ------------------------------------------------------------------------ */
/* Import directive */
body {
  background-color: #ffffff;
  color: #000000;
}
body a:link {
  color: #0000ff;
}
body a:visited {
  color: #990099;
}
body a:active {
  color: #ff0000;
}
header,
#header {
  background-color: #e0e8dd;
  color: #000000;
}
/* Navbar */
nav,
#navbar-outer,
#navbar,
#navbar-left,
#navbar-right,
#navbar-login {
  background-color: #336633;
  font-family: Verdana, Helvetica, sans-serif;
}
nav a:link,
#navbar-outer a:link,
#navbar a:link,
#navbar-left a:link,
#navbar-right a:link,
#navbar-login a:link,
nav a:visited,
#navbar-outer a:visited,
#navbar a:visited,
#navbar-left a:visited,
#navbar-right a:visited,
#navbar-login a:visited,
nav a:active,
#navbar-outer a:active,
#navbar a:active,
#navbar-left a:active,
#navbar-right a:active,
#navbar-login a:active {
  color: #ffffff;
}
nav label,
#navbar-outer label,
#navbar label,
#navbar-left label,
#navbar-right label,
#navbar-login label,
nav span.text,
#navbar-outer span.text,
#navbar span.text,
#navbar-left span.text,
#navbar-right span.text,
#navbar-login span.text,
nav span.currentpage,
#navbar-outer span.currentpage,
#navbar span.currentpage,
#navbar-left span.currentpage,
#navbar-right span.currentpage,
#navbar-login span.currentpage {
  color: #ffffff;
}
nav input,
#navbar-outer input,
#navbar input,
#navbar-left input,
#navbar-right input,
#navbar-login input {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11px;
}
/* Layout */
#page-container {
  background-color: #e0e8dd;
}
#content-container {
  background-color: #ffffff;
  color: #000000;
}
#rounded-corner {
  background-color: #ffffff;
}
#sidebar,
#statsbar {
  background-color: #e0e8dd;
  color: #000000;
}
footer,
#footer {
  background-color: #336633;
  color: #ffffff;
  font-family: Verdana, Helvetica, sans-serif;
}
footer a:link,
#footer a:link,
footer a:visited,
#footer a:visited,
footer a:active,
#footer a:active {
  color: #ffffff;
}
/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #234523;
  font-family: Verdana, Helvetica, sans-serif;
}
.sidebar-color {
  background-color: #e0e8dd;
}
/* Attention-getting structures */
.error,
.test_warning {
  color: red;
}
.warning {
  color: blue;
}
.highlight {
  background-color: yellow;
  color: black;
}
.button {
  font-family: Verdana, Helvetica, sans-serif;
}
/* ------------------------------------------------------------------------ */
/* FAQ */
div.faqheader {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #336633;
  color: #ffffff;
}
/* ------------------------------------------------------------------------ */
/* User Preferences */
table.preferences th.label,
table.preferences th.longlabel {
  background-color: #e0e8dd;
  color: #000000;
}
.tabs li {
  background-color: #e3e3e3;
}
.tabs li a {
  color: #000000;
}
.tabs .current-tab {
  background-color: #ffffff;
}
.tabs .current-tab a {
  color: #000000;
}
/* ------------------------------------------------------------------------ */
/* Themed tables */
table.themed tr {
  background-color: #e0e8dd;
  color: #000000;
}
table.themed tr th {
  background-color: #336633;
  color: #ffffff;
}
table.themed tr th a:link,
table.themed tr th a:visited {
  color: #ffffff;
}
table.theme_striped tr:nth-child(even) {
  background-color: #e0e8dd;
}
table.theme_striped tr:nth-child(odd) {
  background-color: #ffffff;
}
table.striped tr:nth-child(even) td {
  background-color: #ddd;
}
/* ------------------------------------------------------------------------ */
/* Sans-serif styling */
#statsbar p,
#statsbar li,
#statsbar td {
  font-family: Verdana, Helvetica, sans-serif;
}
.sans-serif {
  font-family: Verdana, Helvetica, sans-serif;
}
.mono {
  font-family: monospace;
}
/* ------------------------------------------------------------------------ */
/* PPV Report */
table.ppv_reportcard th {
  text-align: center;
  font-weight: bold;
  border: solid thin black;
}
table.ppv_reportcard th.major_section {
  background-color: #e0e8dd;
}
table.ppv_reportcard th.minor_section {
  background-color: #99ff99;
}
table.ppv_reportcard th.heading {
  background-color: #e0e8dd;
}
/* ------------------------------------------------------------------------ */
/* Image Sources */
table.image_source_listing td.title {
  background-color: #e0e8dd;
}
/* ------------------------------------------------------------------------ */
/* Registration table */
table.register td.bar {
  background-color: #336633;
}
table.register th {
  background-color: #e0e8dd;
}
/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */
table.snapshottable th {
  background-color: #e0e8dd;
}
/* ------------------------------------------------------------------------ */
/* WordCheck pages */
.preWC {
  background-color: #c2c2c2;
}
.noWC {
  background-color: #ffb321;
  font-weight: bold;
}
.WC {
  background-color: #97fc9e;
}
/* ------------------------------------------------------------------------ */
/* Proofreading Toolbox */
#toolbox {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #CDC0B0;
}
#toolbox .selector_button {
  background-color: Bisque;
}
#toolbox .selected-tab,
#toolbox .big_text,
#toolbox .picker {
  background-color: Beige;
}
#toolbox .proofbutton {
  border: 1px solid black;
  background: #FFF8DC;
}
/* vim: sw=4 ts=4 expandtab
*/
/* vim: sw=4 ts=4 expandtab
*/
