/* ------------------------------------------------------------------------ */
/* Theme coloring for Project Gutenberg */
/* ------------------------------------------------------------------------ */
/* Import directive */
body {
  background-color: #ffffff;
  color: #000000;
}
body a:link {
  color: #0000ff;
}
body a:visited {
  color: #990099;
}
body a:active {
  color: #ff0000;
}
header,
#header {
  background-color: #e0e8dd;
  color: #000000;
}
/* Logo */
#logo a {
  background-image: url("http://www.pgdp.net/c/graphics/dp-logo-360x68px.png");
  height: 68px;
  width: 360px;
  display: block;
}
/* Navbar */
nav,
#navbar-outer,
#navbar,
#navbar-left,
#navbar-right,
#navbar-login {
  background-color: #336633;
  font-family: Verdana, Helvetica, sans-serif;
}
nav a:link,
#navbar-outer a:link,
#navbar a:link,
#navbar-left a:link,
#navbar-right a:link,
#navbar-login a:link,
nav a:visited,
#navbar-outer a:visited,
#navbar a:visited,
#navbar-left a:visited,
#navbar-right a:visited,
#navbar-login a:visited,
nav a:active,
#navbar-outer a:active,
#navbar a:active,
#navbar-left a:active,
#navbar-right a:active,
#navbar-login a:active {
  color: #ffffff;
}
nav label,
#navbar-outer label,
#navbar label,
#navbar-left label,
#navbar-right label,
#navbar-login label,
nav span.text,
#navbar-outer span.text,
#navbar span.text,
#navbar-left span.text,
#navbar-right span.text,
#navbar-login span.text,
nav span.currentpage,
#navbar-outer span.currentpage,
#navbar span.currentpage,
#navbar-left span.currentpage,
#navbar-right span.currentpage,
#navbar-login span.currentpage {
  color: #ffffff;
}
nav input,
#navbar-outer input,
#navbar input,
#navbar-left input,
#navbar-right input,
#navbar-login input {
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 11px;
}
/* Layout */
#page-container {
  background-color: #e0e8dd;
}
#content-container {
  background-color: #ffffff;
  color: #000000;
}
#rounded-corner {
  background-color: #ffffff;
}
#sidebar,
#statsbar {
  background-color: #e0e8dd;
  color: #000000;
}
footer,
#footer {
  background-color: #336633;
  color: #ffffff;
  font-family: Verdana, Helvetica, sans-serif;
}
footer a:link,
#footer a:link,
footer a:visited,
#footer a:visited,
footer a:active,
#footer a:active {
  color: #ffffff;
}
/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #336633;
  font-family: Verdana, Helvetica, sans-serif;
}
/* ------------------------------------------------------------------------ */
/* Themed tables */
table.themed tr th {
  background-color: #336633;
  color: #ffffff;
  /*            .sans-serif; */
  font-weight: bold;
}
table.themed tr th a:link,
table.themed tr th a:visited {
  color: #ffffff;
}
table.themed tr td {
  background-color: #e0e8dd;
  color: #000000;
}
table.striped tr:nth-child(even) td {
  background-color: #e0e8dd;
}
table.striped tr:nth-child(odd) td {
  background-color: #ffffff;
}
/* ------------------------------------------------------------------------ */
/* Sans-serif styling */
#completed-titles .title-listing,
#recent-titles .title-listing {
  font-family: Verdana, Helvetica, sans-serif;
}
#completed-projects table {
  font-family: Verdana, Helvetica, sans-serif;
}
#birthdays li {
  font-family: Verdana, Helvetica, sans-serif;
}
#teams-nav h3,
#teams-nav li {
  font-family: Verdana, Helvetica, sans-serif;
}
#tally-stats {
  font-family: Verdana, Helvetica, sans-serif;
}
#key-help-documents {
  font-family: Verdana, Helvetica, sans-serif;
}
.sans-serif {
  font-family: Verdana, Helvetica, sans-serif;
}
/* vim: sw=4 ts=4 expandtab
*/
/* vim: sw=4 ts=4 expandtab
*/
