/* ------------------------------------------------------------------------ */
/* Theme coloring for Royal Blues */

@import "../layout.less";

@theme-name: "royal_blues";

@page-background: #ffffff;
@page-text: #000000;
@header-background: #99ccff;
@header-text: #000000;
@navbar-background: #000099;
@navbar-text: #ffffff;
@sidebar-background: #99ccff;
@sidebar-text: #000000;
@footer-background: #000099;
@footer-text: #ffffff;
@heading-color: #000066;
@link-color: #330099;
@visited-color: #330099;
@active-color: #330099;
@sans-serif-font: Verdana, Helvetica, sans-serif;
