/* ------------------------------------------------------------------------ */
/* Theme coloring for Royal Blues */
/* ------------------------------------------------------------------------ */
/* Import directive */
body {
  background-color: #ffffff;
  color: #000000;
}
body a:link {
  color: #330099;
}
body a:visited {
  color: #330099;
}
body a:active {
  color: #330099;
}
header,
#header {
  background-color: #99ccff;
  color: #000000;
}
/* Navbar */
nav,
#navbar-outer,
#navbar,
#navbar-left,
#navbar-right,
#navbar-login {
  background-color: #000099;
  font-family: Verdana, Arial, sans-serif;
}
nav a:link,
#navbar-outer a:link,
#navbar a:link,
#navbar-left a:link,
#navbar-right a:link,
#navbar-login a:link,
nav a:visited,
#navbar-outer a:visited,
#navbar a:visited,
#navbar-left a:visited,
#navbar-right a:visited,
#navbar-login a:visited,
nav a:active,
#navbar-outer a:active,
#navbar a:active,
#navbar-left a:active,
#navbar-right a:active,
#navbar-login a:active {
  color: #ffffff;
}
nav label,
#navbar-outer label,
#navbar label,
#navbar-left label,
#navbar-right label,
#navbar-login label,
nav span.text,
#navbar-outer span.text,
#navbar span.text,
#navbar-left span.text,
#navbar-right span.text,
#navbar-login span.text,
nav span.currentpage,
#navbar-outer span.currentpage,
#navbar span.currentpage,
#navbar-left span.currentpage,
#navbar-right span.currentpage,
#navbar-login span.currentpage {
  color: #ffffff;
}
nav input,
#navbar-outer input,
#navbar input,
#navbar-left input,
#navbar-right input,
#navbar-login input {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}
#alertbar,
#alertbar-outer {
  font-family: Verdana, Arial, sans-serif;
  background-color: rgba(255, 255, 0, 0.4);
  color: black;
}
#alertbar a:link,
#alertbar-outer a:link,
#alertbar a:visited,
#alertbar-outer a:visited,
#alertbar a:active,
#alertbar-outer a:active {
  color: #4d4d4d;
}
#testbar,
#testbar-outer {
  font-family: Verdana, Arial, sans-serif;
  background-color: #ffffff;
  background: repeating-linear-gradient(to right, yellow, #ffffff 24%, #ffffff 75%, yellow 100%);
  color: black;
  border-bottom: solid thin black;
}
#testbar a:link,
#testbar-outer a:link,
#testbar a:visited,
#testbar-outer a:visited,
#testbar a:active,
#testbar-outer a:active {
  color: #4d4d4d;
}
/* Layout */
#page-container {
  background-color: #99ccff;
}
#content-container {
  background-color: #ffffff;
  color: #000000;
}
#rounded-corner {
  background-color: #ffffff;
}
#sidebar,
#statsbar {
  background-color: #99ccff;
  color: #000000;
}
footer,
#footer {
  background-color: #000099;
  color: #ffffff;
  font-family: Verdana, Arial, sans-serif;
}
footer a:link,
#footer a:link,
footer a:visited,
#footer a:visited,
footer a:active,
#footer a:active {
  color: #ffffff;
}
/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000066;
  font-family: Verdana, Arial, sans-serif;
}
.sidebar-color {
  background-color: #99ccff;
}
/* Attention-getting structures */
.error,
.test_warning {
  color: red;
}
.warning {
  color: blue;
}
.highlight {
  background-color: yellow;
  color: black;
}
.button {
  font-family: Verdana, Arial, sans-serif;
}
kbd {
  color: #cc0000;
}
/* ------------------------------------------------------------------------ */
/* FAQ */
div.faqheader {
  font-family: Verdana, Arial, sans-serif;
  background-color: #000099;
  color: #ffffff;
}
/* ------------------------------------------------------------------------ */
/* User Preferences */
table.preferences th.label,
table.preferences th.longlabel {
  background-color: #99ccff;
  color: #000000;
}
.tabs li {
  background-color: #b3cce6;
}
.tabs li a {
  color: #000000;
}
.tabs .current-tab {
  background-color: #ffffff;
}
.tabs .current-tab a {
  color: #000000;
}
/* ------------------------------------------------------------------------ */
/* Themed tables */
table.themed tr {
  background-color: #99ccff;
  color: #000000;
}
table.themed tr th {
  background-color: #000099;
  color: #ffffff;
}
table.themed tr th a:link,
table.themed tr th a:visited {
  color: #ffffff;
}
table.theme_striped tr:nth-child(even) {
  background-color: #99ccff;
}
table.theme_striped tr:nth-child(odd) {
  background-color: #ffffff;
}
table.striped tr:nth-child(even) td {
  background-color: #ddd;
}
/* ------------------------------------------------------------------------ */
/* Sans-serif styling */
#statsbar p,
#statsbar li,
#statsbar td,
#statsbar th {
  font-family: Verdana, Arial, sans-serif;
}
.sans-serif {
  font-family: Verdana, Arial, sans-serif;
}
/* ------------------------------------------------------------------------ */
/* PPV Report */
table.ppv_reportcard th {
  text-align: center;
  font-weight: bold;
  border: solid thin black;
}
table.ppv_reportcard th.major_section {
  background-color: #99ccff;
}
table.ppv_reportcard th.minor_section {
  background-color: #99ff99;
}
table.ppv_reportcard th.heading {
  background-color: #e0e8dd;
}
/* ------------------------------------------------------------------------ */
/* Image Sources */
table.image_source_listing td.title {
  background-color: #99ccff;
}
/* ------------------------------------------------------------------------ */
/* Registration table */
table.register td.bar {
  background-color: #000099;
}
table.register th {
  background-color: #99ccff;
}
/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */
table.snapshottable th {
  background-color: #99ccff;
}
/* ------------------------------------------------------------------------ */
/* WordCheck pages */
.preWC {
  background-color: #c2c2c2;
}
.noWC {
  background-color: #ffb321;
  font-weight: bold;
}
.WC {
  background-color: #97fc9e;
}
/* ------------------------------------------------------------------------ */
/* Proofreading Toolbox */
#toolbox {
  font-family: Verdana, Arial, sans-serif;
  background-color: #CDC0B0;
}
#toolbox .selector_button {
  background-color: Bisque;
}
#toolbox .selected-tab,
#toolbox .big_text,
#toolbox .picker {
  background-color: Beige;
}
#toolbox .proofbutton {
  border: 1px solid black;
  background: #FFF8DC;
}
/* ------------------------------------------------------------------------ */
/* view page text image */
.control-form {
  background-color: #CDC0B0;
  padding: 0 1em 3px 1em;
  overflow: auto;
}
.control-form input {
  background-color: #FFF8DC;
  border-width: 2px;
  margin-right: 0.4em;
}
.control-form select {
  background-color: #FFF8DC;
  margin-right: 0.4em;
}
.control-form .img-button {
  vertical-align: middle;
  border: 0;
  padding: 0;
}
.control-form img {
  display: block;
}
.control-form input[type=checkbox] {
  vertical-align: middle;
}
.image-back {
  background-color: #CDCDC1;
}
/* vim: sw=4 ts=4 expandtab
*/
/* vim: sw=4 ts=4 expandtab
*/
