@import (reference) "../global.less";

body {
    background-color: @page-background;
    color: @page-text;
    a:link {
        color: @link-color;
    }
    a:visited {
        color: @visited-color;
    }
    a:active {
        color: @active-color;
    }
}

header, #header {
    background-color: @header-background;
    color: @header-text;
}

/* Navbar */
nav, #navbar-outer, #navbar, #navbar-left, #navbar-right, #navbar-login {
    background-color: @navbar-background;
    .sans-serif;
    .unicolor-link(@navbar-text);
    label, span.text, span.currentpage {
        color: @navbar-text;
    }
    input {
        .sans-serif;
        font-size: 11px;
    }
}

/* Layout */
#page-container {
    background-color: @sidebar-background;
}

#content-container {
    background-color: @page-background;
    color: @page-text;
}

#rounded-corner {
    background-color: @page-background;
}

#sidebar, #statsbar {
    background-color: @sidebar-background;
    color: @sidebar-text;
}

footer, #footer {
    background-color: @footer-background;
    color: @footer-text;
    .sans-serif;
    .unicolor-link(@footer-text);
}

/* Header */
h1, h2, h3, h4, h5, h6 {
    color: @heading-color;
    .sans-serif;
}

.sidebar-color {
    background-color: @sidebar-background;
}
/* Attention-getting structures */

.error, .test_warning {
    color: red;
}

.warning {
    color: blue;
}

.highlight {
    background-color: yellow;
    color: black;
}

.button {
    .sans-serif;
}

/* ------------------------------------------------------------------------ */
/* FAQ */

div.faqheader {
    .sans-serif;
    background-color: @navbar-background;
    color: @navbar-text;
}

/* ------------------------------------------------------------------------ */
/* User Preferences */

table.preferences {
    th.label, th.longlabel {
        background-color: @header-background;
        color: @header-text;
    }
}

#tabs {
    li {
        background-color: desaturate(@header-background, 50%);
    }
    a {
        color: desaturate(@header-text, 50%);
    }
    a:hover {
        color: @header-text;
    }
    #current {
        background-color: @header-background;
        a {
            color: @header-text;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Themed tables */

table.themed {
    tr {
        th {
            background-color: @navbar-background;
            color: @navbar-text;
            a:link, a:visited {
                color: @navbar-text;
            }
        }
        background-color: @header-background;
        color: @header-text;
    }
}

table.theme_striped {
    tr:nth-child(even) {
        background-color: @sidebar-background;
    }
    tr:nth-child(odd) {
        background-color: @page-background;
    }
}

table.striped {
    tr:nth-child(even) {
        td {
            background-color: #ddd;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Sans-serif styling */

#statsbar {
    p, li, td {
        .sans-serif;
    }
}

.sans-serif {
    font-family: @sans-serif-font;
}

.mono {
    font-family: monospace;
}

/* ------------------------------------------------------------------------ */
/* PPV Report */

table.ppv_reportcard {
    th {
        .center-align;
        .bold;
        border: solid thin black;
    }
    th.major_section {
        background-color: @header-background;
    }
    th.minor_section {
        background-color: #99ff99;
    }
    th.heading {
        background-color: #e0e8dd;
    }
}

/* ------------------------------------------------------------------------ */
/* Image Sources */

table.image_source_listing {
    td.title {
        background-color: @header-background;
    }
}

/* ------------------------------------------------------------------------ */
/* Registration table */

table.register {
    td.bar {
        background-color: @navbar-background;
    }
    th {
        background-color: @header-background;
    }
}

/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */

table.snapshottable {
    th {
        background-color: @header-background;
    }
}

/* ------------------------------------------------------------------------ */
/* WordCheck pages */

.preWC {
    background-color: #c2c2c2;
}
.noWC {
    background-color: #ffb321;
    .bold;
}
.WC {
    background-color: #97fc9e;
}

/* ------------------------------------------------------------------------ */
/* Proofreading Toolbox */

#toolbox {
    .sans-serif;
    background-color: #CDC0B0;
    .selector_button {
        background-color: Bisque;
    }
    .selected-tab, .big_text, .picker {
        background-color: Beige;
    }
    .proofbutton {
        border: 1px solid black;
        background: #FFF8DC;
    }
}

/* vim: sw=4 ts=4 expandtab
*/
