@import (reference) "../global.less";

body {
    background-color: @page-background;
    color: @page-text;
    a:link {
        color: @link-color;
    }
    a:visited {
        color: @visited-color;
    }
    a:active {
        color: @active-color;
    }
}

header, #header {
    background-color: @header-background;
    color: @header-text;
    #titles-preserved {
        font-size: 0.9em;
        #x-preserved {
            .bold;
            .sans-serif;
        }
    }
}

/* Navbar */
nav, #navbar-outer, #navbar, #navbar-left, #navbar-right, #navbar-login {
    background-color: @navbar-background;
    .sans-serif;
    .unicolor-link(@navbar-text);
    label, span.text, span.currentpage {
        color: @navbar-text;
    }
    input {
        .sans-serif;
        font-size: 11px;
    }
}

#alertbar, #alertbar-outer {
    .sans-serif;
    background-color: fade(yellow, 40%);
    color: black;
    .unicolor-link(darken(gray, 20%));
}

#testbar, #testbar-outer {
    .sans-serif;
    background-color: @page-background;
    background: repeating-linear-gradient(
        to right,
        yellow,
        @page-background 24%,
        @page-background 75%,
        yellow 100%,
    );
    color: black;
    border-bottom: solid thin black;
    .unicolor-link(lighten(black, 30%));
}

/* Layout */
#page-container {
    background-color: @sidebar-background;
}

#content-container {
    background-color: @page-background;
    color: @page-text;
}

#rounded-corner {
    background-color: @page-background;
}

#sidebar, #statsbar {
    background-color: @sidebar-background;
    color: @sidebar-text;
    p, li, td, th {
        .sans-serif;
    }
}

footer, #footer {
    background-color: @footer-background;
    color: @footer-text;
    .sans-serif;
    .unicolor-link(@footer-text);
}

/* Header */
h1, h2, h3, h4, h5, h6 {
    color: @heading-color;
    .sans-serif;
}

.sidebar-color {
    background-color: @sidebar-background;
}

/* Attention-getting structures */
.error, .test_warning {
    color: red;
}

.warning {
    color: blue;
}

.highlight {
    background-color: yellow;
    color: black;
}

.button {
    .sans-serif;
}

kbd {
    color: #cc0000;
}

/* ------------------------------------------------------------------------ */
/* FAQ */

div.faqheader {
    .sans-serif;
    background-color: @navbar-background;
    color: @navbar-text;
}

/* ------------------------------------------------------------------------ */
/* User Preferences */

table.preferences {
    th.label, th.longlabel {
        background-color: @header-background;
        color: @header-text;
    }
}

.tabs {
    li {
        background-color: desaturate(@header-background, 50%);
        a {
            color: desaturate(@header-text, 50%);
        }
    }
    .current-tab {
        background-color: @page-background;
        a {
            color: @page-text;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Themed tables */

table.themed {
    tr {
        th {
            background-color: @navbar-background;
            color: @navbar-text;
            a:link, a:visited {
                color: @navbar-text;
            }
        }
        background-color: @header-background;
        color: @header-text;
    }
}

table.theme_striped {
    tr:nth-child(even) {
        background-color: @sidebar-background;
    }
    tr:nth-child(odd) {
        background-color: @page-background;
    }
}

table.striped {
    tr:nth-child(even) {
        td {
            background-color: #ddd;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Available Project Listings */

table.availprojectlisting {
    tr:nth-child(even) {
        background-color: #ddd;
    }
}

/* Default stage colors, which can be overridden by the themes */
@P1-even: #ffe4b5;
@P1-odd: cornsilk;
@P2-even: #ffe4b5;
@P2-odd: cornsilk;
@P3-even: plum;
@P3-odd: thistle;
@F1-even: #ffe4b5;
@F1-odd: cornsilk;
@F2-even: plum;
@F2-odd: thistle;
@PP-even: #cccccc;
@PP-odd: #ffffff;
@PPV-even: #99ffff;
@PPV-odd: #eaf7f7;
@SR-even: #ccffcc;
@SR-odd: #ccff99;

@stages: P1 P2 P3 F1 F2 PP PPV SR;

each(@stages, {
    @even-color: "@{value}-even";
    @odd-color: "@{value}-odd";
    table.stage_@{value} {
        tr:nth-child(even) {
            background-color: @@even-color;
        }
        tr:nth-child(odd) {
            background-color: @@odd-color;
        }
    }
})

/* ------------------------------------------------------------------------ */
/* Sans-serif styling */

.sans-serif {
    font-family: @sans-serif-font;
}

/* ------------------------------------------------------------------------ */
/* PPV Report */

table.ppv_reportcard {
    th {
        .center-align;
        .bold;
        border: solid thin black;
    }
    th.major_section {
        background-color: @header-background;
    }
    th.minor_section {
        background-color: #99ff99;
    }
    th.heading {
        background-color: #e0e8dd;
    }
}

/* ------------------------------------------------------------------------ */
/* Image Sources */

table.image_source_listing {
    td.title {
        background-color: @header-background;
    }
}

/* ------------------------------------------------------------------------ */
/* Registration table */

table.register {
    td.bar {
        background-color: @navbar-background;
    }
    th {
        background-color: @header-background;
    }
}

/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */

table.snapshottable {
    th {
        background-color: @header-background;
    }
}

/* ------------------------------------------------------------------------ */
/* WordCheck pages */

.preWC {
    background-color: #c2c2c2;
}
.noWC {
    background-color: #ffb321;
    .bold;
}
.WC {
    background-color: #97fc9e;
}

/* ======================================================================== */
/* Page Interface Structures */

/*
 * The following classes all relate to various page interfaces, such as the
 * proofreading interfaces (standard and enhanced), WordCheck, the proofreading
 * toolbox, code point validator, display image interface, etc.
 */

/* Base layer for page interface */
@page-interface-background: #CDCDC1;
@page-interface-text: black;

/* Text pane */
@text-pane-background: #FFF8DC;
@text-pane-text: black;

/* Control panes */
@control-pane-background: #CDC0B0;
@control-pane-text: black;
@control-pane-menu: Bisque;

.page-interface {
    background-color: @page-interface-background;
    color: @page-interface-text;

    .text-pane {
        background-color: @text-pane-background;
        color: @text-pane-text;
    }

    .control-pane {
        background-color: @control-pane-background;
        color: @control-pane-text;

        input, select, button {
            background-color: @text-pane-background;
            border: solid thin black;
        }

        button, input[type=submit], input[type=button] {
            box-shadow: 1px 1px grey;
        }

        input[type=image] {
            border: none;
        }

        .menu {
            background-color: @control-pane-menu;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Proofreading control frame */
.control-frame {
    .page-interface .control-pane;
}

/* ------------------------------------------------------------------------ */
/* Proofreading Toolbox */

#toolbox {
    .sans-serif;
    .page-interface .control-pane;
    .selector_button {
        .page-interface .control-pane .menu;
    }
    .selected-tab {
        .bold;
        background-color: @text-pane-background;
        box-shadow: -1px -1px grey;
    }
    #hide-picker {
        box-shadow: -1px -1px grey;
    }
}

/* ------------------------------------------------------------------------ */
/* Format Preview */

#format_preview {
    .page-interface;
}

.ilb {
    border: 1px solid #404040;
    border-radius: 2px;
    .page-interface .control-pane;
}

/* ------------------------------------------------------------------------ */
/* Page Browser */

#page-browser {
    .page-interface;
    .control-pane {
        border-bottom: 1px solid #999;
        .img-button {
            border: 0;
            box-shadow: none;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Standard Editing Interface */

#standard_interface {
    .page-interface;
}

/* ------------------------------------------------------------------------ */
/* Enhanced Editing Interface */

#enhanced_interface {
    .page-interface;

    #tbtext {
        border: 1px solid black;
    }
    #tdtop {
        border: 1px solid black;
        .page-interface .control-pane;
    }
    #tdtext {
        border: 1px solid black;
        .page-interface;
    }
    #tdbottom {
        border: 1px solid black;
        background-color: #EEDFCC;
    }
    #text_data, #text_data:focus {
        .page-interface .text-pane;
    }
    .dropsmall {
        font-size: 75%;
    }
}

/* ------------------------------------------------------------------------ */
/* WordCheck Interface */

#wordcheck_interface {
    .page-interface;

    #tbtext {
        border: 1px solid black;
    }
    #tdtop {
        border: 1px solid black;
        .page-interface .control-pane;
    }
    #tdtext {
        border: 1px solid black;
        .page-interface .text-pane;
    }
}

/* ------------------------------------------------------------------------ */
/* Codepoint Validator */

.stretchbox {
    .page-interface .text-pane;
}

.fixedbox {
    .page-interface .control-pane;
}

.bad-char {
    background: #ff99cc;
}

/* vim: sw=4 ts=4 expandtab
*/
