/* ------------------------------------------------------------------------ */
/* News items */
div.news {
    padding-top: 2em;
    clear: both;
}
div.newsheader {
    border-bottom: thin solid gray;
    clear: both;
}
div.newsitem {
    background: url('../graphics/box_shadow.png') no-repeat !important;
    padding: 1.2em 0.5em 0.5em 1.2em;
    margin-left: 1em;
    margin-top: 0.5em;
    clear: left;
}
div.newsitem p {
    margin: 0 0.5em 0.5em 0;
}

/* ------------------------------------------------------------------------ */
/* Attention-getting structures */

div.callout {
    margin-right: 2em;
    margin-left: 2em;
    padding: 1em;
    background-color: #EEE;
    border: solid thin black;
}

div.callout p {
    margin-bottom: 0;
}

div.calloutheader {
    font-weight: bold;
}

/* ------------------------------------------------------------------------ */
/* Special Days Legend table */

table.special_legend {
    margin: 0em 0em .5em 0em;
}
table.special_legend div {
    border-style: none none solid none;
    border-color:  black;
    border-width: 0px 0px 1px 0px;
    width: 100%;
    padding: 0px 0px 2px 1px;
}

/* ------------------------------------------------------------------------ */
/* Round and Pool filter table */
table.filter {
    border: 1px solid gray;
}
table.filter caption  {
    font-size: 120%;
    margin: 0;
    padding: 0;
}
table.filter td {
    padding: .25em 0.25em 0em .25em;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}
table.filter td select {
    margin: .1em auto;
    width: 100%;
}

/* ------------------------------------------------------------------------ */
/* Registration table */

table.register {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
}

table.register td.label {
    background-color: #e0e8dd;
    text-align: right;
    font-weight: bold;
}

table.register td.field {
    text-align: left;
}

/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */

table.snapshottable {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    empty-cells: hide;
    width: 100%;
}

table.snapshottable td,
table.snapshottable th {
    border: 1px solid black;
    padding: 2px;
    margin: 0;
    text-align: center;
}

table.snapshottable img {
    border: none;
    padding: 0;
    margin: 0;
}

table.snapshottable th {
    background-color: #e0e8dd;
    font-weight: normal;
}

table.snapshottable td.nocell {
    border: none;
}

/* ------------------------------------------------------------------------ */
/* Progress bar */

div.progressbar {
    border: 1px solid black;
    font-size: 0.5em;
    float: left;
}

/* ------------------------------------------------------------------------ */
/* Statistics table */

table.stats td, table.stats th {
    /* so that right aligned and left aligned columns don't clash */
    padding-right: 2em;
}

/* vim: sw=4 ts=4 expandtab
*/
