/* ------------------------------------------------------------------------ */
/* News items */
div.news {
    padding-top: 2em;
    clear: both;
}
div.newsheader {
    border-bottom: thin solid gray;
    clear: both;
}
div.newsitem {
    background: url('../graphics/box_shadow.png') no-repeat !important;
    padding: 1.2em 0.5em 0.5em 1.2em;
    margin-left: 1em;
    margin-top: 0.5em;
    clear: left;
}
div.newsitem p {
    margin: 0 0.5em 0.5em 0;
}

/* ------------------------------------------------------------------------ */
/* Attention-getting structures */

div.callout {
    margin-right: 2em;
    margin-left: 2em;
    padding: 1em;
    background-color: #EEE;
    border: solid thin black;
}

div.callout p {
    margin-bottom: 0;
}

div.calloutheader {
    font-weight: bold;
}

/* vim: sw=4 ts=4 expandtab
*/
