/* for option dropdowns in project search results */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    width:10em;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 0.2em;
    margin: -1em 0 0 -6em;
    border-radius: 0.2em;
    z-index: 1;
}

.show {display:block;}