/* ------------------------------------------------------------------------ */
/* Mix-ins */
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
}
.top-align {
  vertical-align: top;
}
.middle-align {
  vertical-align: middle;
}
.bottom-align {
  vertical-align: bottom;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
.large {
  font-size: large;
}
.small {
  font-size: small;
}
.really-small {
  font-size: x-small;
}
.nowrap {
  white-space: nowrap;
}
.full-width {
  width: 100%;
}
.no-border {
  border: 0;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-cellspacing {
  border-spacing: 0;
}
.no-cellpadding {
  border-collapse: collapse;
}
.no-cellpadding td,
.no-cellpadding th {
  padding: 0;
}
.plain-list ul {
  padding: 0;
}
.plain-list li {
  list-style-type: none;
}
.display-flex {
  display: flex;
}
.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  font-size: 0.7rem;
  padding: 2px 6px;
}
.nodisp {
  display: none;
}
/* ------------------------------------------------------------------------ */
/* Make the DPCustomMono2 globally available */
@font-face {
  font-family: 'DPCustomMono2';
  src: local('DPCustomMono2'), url('fonts/dpcustommono2-webfont.woff2') format('woff2'), url('fonts/dpcustommono2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* vim: sw=4 ts=4 expandtab
*/
