/* ------------------------------------------------------------------------ */
/* Mix-ins */
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
.right-align {
  text-align: right;
}
.top-align {
  vertical-align: top;
}
.middle-align {
  vertical-align: middle;
}
.bottom-align {
  vertical-align: bottom;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underlined {
  text-decoration: underline;
}
.large {
  font-size: large;
}
.small {
  font-size: small;
}
.really-small {
  font-size: x-small;
}
.mono {
  font-family: monospace;
}
.nowrap {
  white-space: nowrap;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.no-border {
  border: 0;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-cellspacing {
  border-spacing: 0;
}
.no-cellpadding {
  border-collapse: collapse;
}
.no-cellpadding td,
.no-cellpadding th {
  padding: 0;
}
.plain-list ul {
  padding: 0;
}
.plain-list li {
  list-style-type: none;
}
.display-flex {
  display: flex;
}
.button {
  /*
     * We can't use appearance: button here because Chrome has deprecated it:
     * https://developers.google.com/web/updates/2019/12/chrome-80-deps-rems
     * so we make a "button like object" that won't really resemble the other
     * buttons rendered, but still looks like a button.
     */
  border: solid 1px lightgray;
  border-radius: 5px;
  font-size: 0.7rem;
  padding: 2px 6px;
  cursor: default;
}
.nodisp {
  display: none;
}
.overflow-auto {
  overflow: auto;
}
.overflow-hidden {
  overflow: hidden;
}
.inline {
  display: inline;
}
/* ------------------------------------------------------------------------ */
/* WEB FONTS */
/* DP Sans Mono */
@font-face {
  font-family: 'DP Sans Mono';
  src: local('DP Sans Mono'), url('fonts/DPSansMono.woff2') format('woff2'), url('fonts/DPSansMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* DejaVu Sans Mono */
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('fonts/DejaVuSansMono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('fonts/DejaVuSansMono-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('fonts/DejaVuSansMono-BoldOblique-webfont.woff') format('woff');
  font-weight: bold;
  font-style: oblique;
}
@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('fonts/DejaVuSansMono-Oblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: oblique;
}
/* vim: sw=4 ts=4 expandtab
*/
