/* ------------------------------------------------------------------------ */
/* Global */
body {
  margin: 0;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}
table th {
  font-weight: bold;
}
table th.label {
  text-align: left;
}
table td,
table th {
  padding: 0.1em 0.2em;
}
/* ------------------------------------------------------------------------ */
/* HTML5 hacks */
section,
footer,
aside,
main,
article,
figure {
  display: block;
}
/* ------------------------------------------------------------------------ */
/* Header */
header,
#header {
  width: 100%;
  height: 5em;
  padding: 0;
  border: 0;
  display: table;
}
header #logo,
#header #logo,
header #titles-preserved,
#header #titles-preserved {
  display: table-cell;
}
header #logo,
#header #logo {
  left: 0;
  padding: 0.375em;
}
header #titles-preserved,
#header #titles-preserved {
  right: 0;
  text-align: center;
  vertical-align: middle;
}
/* ------------------------------------------------------------------------ */
/* Navbar */
nav,
#navbar-outer {
  width: 100%;
  display: table;
}
#navbar {
  height: 1.66666667em;
  margin: 0;
  border: 0;
  padding: 3px;
  font-size: 0.75em;
}
#navbar span.currentpage {
  font-weight: bold;
}
#navbar #navbar-left {
  float: left;
  padding: 2px;
  display: table-cell;
}
#navbar #navbar-right,
#navbar #navbar-login {
  text-align: right;
  float: right;
  white-space: nowrap;
  display: table-cell;
}
#navbar #navbar-right {
  padding: 2px;
}
#navbar #navbar-login {
  padding: 0px 2px;
}
#navbar form {
  margin: 0;
  display: inline;
}
#navbar form div {
  display: inline;
}
/* ------------------------------------------------------------------------ */
/* Alert & Test bar*/
#alertbar-outer,
#testbar-outer {
  width: 100%;
  display: table;
}
#alertbar,
#testbar {
  height: 1.66666667em;
  margin: 0;
  border: 0;
  padding: 3px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
#alertbar span.currentpage,
#testbar span.currentpage {
  font-weight: bold;
}
#alertbar #navbar-left,
#testbar #navbar-left {
  float: left;
  padding: 2px;
  display: table-cell;
}
#alertbar #navbar-right,
#testbar #navbar-right,
#alertbar #navbar-login,
#testbar #navbar-login {
  text-align: right;
  float: right;
  white-space: nowrap;
  display: table-cell;
}
#alertbar #navbar-right,
#testbar #navbar-right {
  padding: 2px;
}
#alertbar #navbar-login,
#testbar #navbar-login {
  padding: 0px 2px;
}
#alertbar form,
#testbar form {
  margin: 0;
  display: inline;
}
#alertbar form div,
#testbar form div {
  display: inline;
}
#alertbar p,
#testbar p {
  margin: 3px 0;
}
/* ------------------------------------------------------------------------ */
/* Footer */
footer,
#footer {
  width: 100%;
  height: 2em;
  font-size: x-small;
  text-align: center;
  vertical-align: middle;
}
footer p,
#footer p {
  margin: 0px;
  padding: 0.3em;
}
footer small,
#footer small {
  font-size: x-small;
}
/* ------------------------------------------------------------------------ */
/* Content layout */
#page-container {
  border: 0;
  width: 100%;
  display: table;
}
#page-body-container {
  display: table-row;
}
#content-container {
  text-align: left;
  vertical-align: top;
  width: 100%;
  padding: 0.5em;
  display: table-cell;
}
/* ------------------------------------------------------------------------ */
/* Section dividers */
hr.divider {
  text-align: center;
  width: 75%;
}
/* ------------------------------------------------------------------------ */
/* Existing styling */
/* ------------------------------------------------------------------------ */
/* News items */
div.news {
  margin: 1em 0;
}
div.newsitem {
  background: url('../graphics/box_shadow.png') no-repeat !important;
  padding: 1.2em 0.5em 0.5em 1.2em;
  margin-left: 1em;
  margin-top: 0.5em;
}
div.newsitem p {
  margin: 0 0.5em 0.5em 0;
}
/* ------------------------------------------------------------------------ */
/* Editing news items */
table.newsedit {
  width: 100%;
  border-collapse: collapse;
}
table.newsedit tr td {
  vertical-align: top;
}
table.newsedit tbody.padding tr td.commands,
table.newsedit tbody.padding tr td.items {
  padding-bottom: 1em;
  padding-top: 0.5em;
}
table.newsedit td.commands {
  width: 10%;
  padding-right: 2em;
  padding-left: 1em;
  white-space: nowrap;
}
table.newsedit td.items {
  width: 90%;
}
/* ------------------------------------------------------------------------ */
/* Attention-getting structures */
div.callout {
  margin-right: 2em;
  margin-left: 2em;
  padding: 1em;
  background-color: #EEE;
  border: solid thin black;
}
div.callout p {
  margin-bottom: 0;
}
div.calloutheader {
  font-weight: bold;
}
.error,
.warning {
  font-weight: bold;
}
kbd {
  font-family: monospace;
}
/* ------------------------------------------------------------------------ */
/* Round and Pool filter table */
#filter_form {
  padding: 0 0.5em 0.5em 0.5em;
}
table.filter {
  width: 100%;
}
table.filter td {
  padding: 0.25em 0.25em 0em 0.25em;
  vertical-align: top;
  white-space: nowrap;
}
table.filter td select {
  margin: 0.1em auto;
  width: 100%;
}
/* ------------------------------------------------------------------------ */
/* Registration table */
table.register {
  width: auto;
  border-collapse: separate;
  border: 1px solid black;
}
table.register th,
table.register td {
  padding: 3px;
}
table.register th {
  text-align: right;
  font-weight: bold;
}
table.register td {
  text-align: left;
}
table.register td input[type=text],
table.register td input[type=password],
table.register td input[type=select] {
  width: 98%;
}
table.register td.bar {
  text-align: center;
}
/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */
table.snapshottable {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  width: 100%;
}
table.snapshottable td,
table.snapshottable th {
  border: 1px solid black;
  padding: 2px;
  margin: 0;
  text-align: center;
}
table.snapshottable img {
  border: none;
  padding: 0;
  margin: 0;
}
table.snapshottable th {
  font-weight: normal;
}
table.snapshottable td.nocell {
  border: none;
}
table.snapshottable th.activity-icon-header {
  border: none;
  background-color: #ffffff;
  width: 35%;
}
table.snapshottable td.stage-icon {
  border-right: 0;
}
table.snapshottable td.stage-name {
  text-align: left;
  border-left: 0;
  border-right: 0;
}
table.snapshottable td.stage-access {
  border-left: 0;
}
/* ------------------------------------------------------------------------ */
/* Progress bar */
div.progressbar {
  border: 1px solid black;
  font-size: 0.5em;
  float: left;
}
/* ------------------------------------------------------------------------ */
/* Statistics table */
table.stats {
  /* so that right aligned and left aligned columns don't clash */
}
table.stats td,
table.stats th {
  padding-right: 2em;
}
/* ------------------------------------------------------------------------ */
/* Translation table */
table.translation td,
table.translation th {
  padding-right: 1em;
}
/* ------------------------------------------------------------------------ */
/* Available Project Listings */
table.availprojectlisting {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
table.availprojectlisting tr th {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid black;
}
table.availprojectlisting tr th img {
  border: 0;
}
table.availprojectlisting tr td {
  border-bottom: 1px solid #888;
}
table.availprojectlisting tr td,
table.availprojectlisting tr th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* ------------------------------------------------------------------------ */
/* FAQ */
table.faqtable {
  width: 100%;
  border: 0;
  padding: 1em;
}
table.faqtable tr td.column {
  vertical-align: top;
  width: 50%;
  padding-right: 1em;
}
div.faqheader {
  font-weight: bold;
  vertical-align: middle;
  padding: 0.25em 0.5em;
}
/* ------------------------------------------------------------------------ */
/* User Preferences */
/*
This stylesheet originated from http://www.alistapart.com/articles/slidingdoors/
Quote http://www.alistapart.com/copyright/:
*/
/*
 *  A List Apart gives away CSS styles, JavaScript, PHP and Perl scripts,
 *  XHTML markup techniques, and other bits of "source code" for the use
 *  of its readers. You may freely copy, paste, and modify any of this
 *  code for use on your own web projects large or small, commercial or
 *  non-commercial. You need not ask permission to do so. You need not
 *  credit ALA or its authors. It is our gift to you.
 *
 *  ...
 *
 *  Images, including those used in tutorials (example), cannot be
 *  reproduced outside this magazine, except by the author or designer
 *  who created them.
 *
 *  You may adapt elements of our CSS in your own projects, but the
 *  unique combination of images, colors, sizes, typography, and
 *  positioning ("the design") is copyright 2003 A List Apart Magazine
 *  and Happy Cog Studios and may not be reproduced.
 */
table.preferences {
  border-collapse: collapse;
}
table.preferences td,
table.preferences th {
  border: solid thin black;
}
table.preferences th.longlabel {
  text-align: center;
}
.tabs {
  float: left;
  width: 90%;
  border-bottom: solid thin gray;
}
.tabs ul {
  margin: 0;
  padding: 0 20px 0 10px;
  list-style: none;
}
.tabs li {
  float: left;
  margin: 0;
  padding: 0 0 0 4px;
  border: solid thin gray;
  border-radius: 5px 5px 0 0;
  margin-bottom: -2px;
}
.tabs a {
  float: left;
  display: block;
  padding: 5px 15px 4px 6px;
  text-decoration: none;
  min-width: 8em;
}
.tabs .current-tab {
  border: solid thin gray;
  border-bottom: none;
}
.tabs .current-tab a {
  font-weight: bold;
}
/* ------------------------------------------------------------------------ */
/* Themed tables */
table.themed {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
table.themed tr th,
table.themed tr td {
  padding: 0.1em;
}
table.theme_striped tr th,
table.theme_striped tr td {
  padding: 0.1em 0.5em 0.1em 0.5em;
}
table.basic {
  border-collapse: collapse;
  border: 1px solid black;
}
table.basic th {
  background-color: #CCC;
}
table.basic th.label {
  text-align: left;
}
table.basic td,
table.basic th {
  border: 1px solid black;
}
table.basic td.satisfied {
  text-align: right;
  background-color: #ccffcc;
}
table.basic td.not_satisfied {
  text-align: right;
  background-color: #ffcccc;
}
table.basic textarea {
  width: 100%;
}
table.no-border td,
table.no-border th {
  border: none;
}
/* ------------------------------------------------------------------------ */
/* PPV Report */
p.inline_input {
  margin: 0;
  padding: 0;
}
p.hanging_indent {
  text-indent: -1.25em;
  margin-left: 1.25em;
}
p.hanging_indent_long {
  text-indent: -3em;
  margin-left: 3em;
}
p.form_problem {
  color: red;
  font-weight: bold;
  margin-bottom: 0;
}
p.form_problem:before {
  content: '\\002193 ';
  /* down-arrow */
}
table.ppv_reportcard {
  border: solid thin black;
  width: 95%;
}
table.ppv_reportcard td {
  border: solid thin black;
}
/* ------------------------------------------------------------------------ */
/* Image Sources */
table.image_source {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}
table.image_source th {
  background-color: #eee;
  border: 1px solid #999;
  text-align: center;
  padding: 5px;
}
table.image_source td {
  border: 1px solid #999;
  padding: 5px;
}
table.image_source td a.sourcelink {
  font-size: 90%;
  margin: 10px 0px 3px 25px;
}
table.image_source tr.e {
  background-color: #eee;
}
table.image_source tr.o {
  background-color: #ddd;
}
table.image_source th.label {
  text-align: left;
}
table.image_source td.enabled {
  background-color: #9f9;
  text-align: center;
}
table.image_source td.disabled {
  background-color: #ddd;
  text-align: center;
}
table.image_source td.pending {
  background-color: #ff8;
  text-align: center;
}
div.perms_wrapper {
  width: 40%;
  display: inline-block;
  border-bottom: dotted black 1px;
  padding: 2px;
}
/* ------------------------------------------------------------------------ */
/* Page Detail */
table.pagedetail {
  width: auto;
}
table.pagedetail th,
table.pagedetail td {
  text-align: center;
  font-weight: normal;
  border: 1px solid black;
}
table.pagedetail td.in_progress {
  background-color: #FC6;
}
table.pagedetail td.done_current {
  background-color: #9F6;
}
table.pagedetail td.done_previous {
  background-color: #F36;
}
/* ------------------------------------------------------------------------ */
/* Remote File Manager */
table.dirlist {
  width: 100%;
}
table.dirlist .actions {
  text-align: center!important;
}
table.dirlist caption {
  text-align: left;
  font-size: 111%;
  margin-top: 0.5em;
  padding: 5px;
}
/* ------------------------------------------------------------------------ */
/* Standard Editing Interface */
#standard_interface {
  padding: 0;
  margin: 0;
  background-color: #CDC0B0;
}
#standard_interface #imagedisplay {
  text-align: center;
}
#text_data,
#text_data:focus {
  outline: none;
}
/* ------------------------------------------------------------------------ */
/* Enhanced Editing Interface */
#enhanced_interface {
  text-align: center;
  overflow: hidden;
  background-color: #CDCDC1;
}
#enhanced_interface #tbtext {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border: 1px solid #000000;
  overflow: auto;
}
#enhanced_interface #tdtop {
  vertical-align: middle;
  border: 1px solid #000000;
  background-color: #CDC0B0;
  padding: 2px;
}
#enhanced_interface #tdtext {
  vertical-align: top;
  border: 1px solid #000000;
  background-color: #CDCDC1;
  padding: 2px;
}
#enhanced_interface #tdbottom {
  vertical-align: top;
  border: 1px solid #000000;
  background-color: #EEDFCC;
  padding: 2px;
}
#enhanced_interface #text_data,
#enhanced_interface #text_data:focus {
  background-color: #FFF8DC;
  color: #000000;
  padding: 2px;
  outline: none;
}
#enhanced_interface .dropsmall {
  font-size: 75%;
  background-color: #FFF8DC;
}
#enhanced_interface .boxnormal {
  background-color: #FFF8DC;
}
/* ------------------------------------------------------------------------ */
/* WordCheck Interface */
#wordcheck_interface {
  text-align: center;
  background-color: #CDCDC1;
  overflow: auto;
}
#wordcheck_interface #tbtext {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000000;
  padding: 10px;
}
#wordcheck_interface #tdtop {
  border: 1px solid #000000;
  background-color: #CDC0B0;
  padding: 2px;
}
#wordcheck_interface #tdtext {
  vertical-align: top;
  text-align: left;
  border: 1px solid #000000;
  background-color: #FFF8DC;
  padding: 0.5em;
}
/* ------------------------------------------------------------------------ */
/* control frame */
.control-frame {
  background-color: #CDC0B0;
  padding: 0;
  margin: 0;
}
/* ------------------------------------------------------------------------ */
/* Proofreading Toolbox */
#toolbox {
  padding: 2px;
  /* default buttons have small text = 83% */
  /* adjust so tools do not jump around with different character pickers */
}
#toolbox .selector_button {
  margin-top: 1px;
  font-size: 1em;
  padding: 0.1em 0.15em 0 0.15em;
  border: 1px solid black;
  margin-right: 2px;
  min-width: 1em;
}
#toolbox .proofbutton {
  padding: 1px 6px;
  margin: 1px 0px;
  cursor: pointer;
  font-size: 0.9em;
  min-width: 2em;
}
#toolbox .key-block {
  display: none;
}
#toolbox .show {
  display: table;
}
#toolbox .table-row {
  display: table-row;
}
#toolbox .table-cell {
  display: table-cell;
}
#toolbox .char_box {
  padding-top: 1px;
}
#toolbox .big_text {
  font-size: 300%;
  width: 1.3em;
  margin: 2px;
  text-align: center;
}
#toolbox .picker {
  margin-top: 1px;
  font-size: 1em;
  padding: 0 1px 0 0;
  vertical-align: middle;
  width: 100%;
  min-width: 1em;
  max-width: 1.1em;
}
#toolbox .invisible {
  visibility: hidden;
}
#toolbox #char-selector {
  min-width: 225px;
}
#toolbox #char-picker {
  display: inherit;
}
#toolbox .hide-picker-button {
  font-size: 2em;
  height: 2.5em;
  padding: 0;
  background: transparent;
}
#toolbox #tools {
  margin-left: 2px;
  margin-right: 0.5em;
  text-align: right;
  width: 100%;
}
/* ------------------------------------------------------------------------ */
/* Special days tables */
table.list_special_days {
  width: 90%;
  margin: auto;
}
table.list_special_days td,
table.list_special_days th {
  border: 1px solid #999;
  padding: 3px;
}
table.list_special_days td.codecell {
  vertical-align: middle;
  text-align: center;
}
table.list_special_days th.headers {
  padding: 0.5em;
}
table.list_special_days tr.e {
  background-color: #eee;
}
table.list_special_days tr.o {
  background-color: #ddd;
}
table.list_special_days td.enabled {
  background-color: #9f9;
  text-align: center;
}
table.list_special_days td.disabled {
  background-color: #ddd;
  text-align: center;
}
table.list_special_days td.center {
  text-align: center;
}
table.list_special_days tr.month > * {
  border: none;
  border-bottom: solid 2px black;
}
table.list_special_days td.right,
table.list_special_days th.right {
  text-align: right;
  font-weight: normal;
}
table.list_special_days h2 {
  margin: 1em auto auto auto;
  text-align: left;
}
table.show_special_days th {
  background-color: #eeeeee;
}
table.edit_special_day {
  width: 90%;
  margin: auto;
}
table.edit_special_day th,
table.edit_special_day td {
  border: 1px solid black;
  padding: 5px;
  background-color: #eeeeee;
}
/* ------------------------------------------------------------------------ */
/* Search Form */
/* Container to wrap the search columns */
div.search-columns {
  width: 99%;
  overflow: auto;
  text-align: center;
  clear: both;
}
/* This sets everything into one column... */
table.search-column {
  width: 99%;
  /* Set the size of the row label to be consistent */
}
table.search-column tr th {
  width: 8em;
}
/* ... and this says if the screen is >800px, make it two columns. */
@media only screen and (min-width: 800px) {
  table.search-column {
    width: 50%;
    float: left;
  }
  table.search-column tr th {
    width: auto;
  }
}
/* ------------------------------------------------------------------------ */
/* Search Results drop-down */
.dropdown {
  position: relative;
  display: inline;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 1.5em;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  padding: 0.3em;
  margin: 0 0 0 -15em;
  border-radius: 0.3em;
  z-index: 1;
}
/* button looking like a link */
.dropdown-button {
  border: none;
  padding: 1px;
  background-color: transparent;
  cursor: pointer;
  font-family: initial;
  font-size: initial;
  text-decoration: underline;
}
.dropdown-show {
  display: block;
}
/* ------------------------------------------------------------------------ */
/* PM link box */
#pm_links {
  text-align: left;
  vertical-align: top;
  padding: 0 1em;
  float: right;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid black;
}
#pm_links ul {
  padding: 0;
}
#pm_links li {
  list-style-type: none;
}
#pm_links h2 {
  text-align: center;
  font-size: 1em;
}
#pm_links li {
  margin-top: 3px;
}
/* ------------------------------------------------------------------------ */
/* Page compare grid */
.grid-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-column-gap: 2em;
  grid-row-gap: 2px;
}
/* ------------------------------------------------------------------------ */
/* Project Smoothreading */
.thin-heading {
  margin-bottom: 0.2em;
}
.thin-para {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.list-head {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
/* ------------------------------------------------------------------------ */
/* Codepoint Validator */
.flex_container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.fixedbox {
  flex: 0 0 auto;
  background-color: #CDC0B0;
  padding: 2px;
}
.stretchbox {
  flex: auto;
  min-height: 10px;
  overflow: auto;
  background-color: HoneyDew;
}
.ws-pre {
  white-space: pre;
  padding-left: 0.5em;
  text-align: left;
  font-family: monospace;
}
.bad-char {
  background: #ff99cc;
}
/* ------------------------------------------------------------------------ */
/* CharSuite Explorer */
.gs-char {
  font-size: 1.5em;
}
.gs-codepoint {
  font-size: 0.7em;
}
/* ------------------------------------------------------------------------ */
/* replace text validator */
.replace_check {
  height: 20em;
  width: 50em;
  border: 1px solid black;
}
/* vim: sw=4 ts=4 expandtab
*/
