/* ------------------------------------------------------------------------ */
/* Global */
body {
  margin: 0;
}
img {
  border: 0;
}
tt {
  color: #cc0000;
}
/* ------------------------------------------------------------------------ */
/* HTML5 hacks */
section,
footer,
aside,
main,
article,
figure {
  display: block;
}
/* ------------------------------------------------------------------------ */
/* Header */
header,
#header {
  width: 100%;
  height: 5em;
  padding: 0;
  border: 0;
  display: table;
}
header #logo,
#header #logo,
header #titles-preserved,
#header #titles-preserved {
  display: table-cell;
}
header #logo,
#header #logo {
  left: 0;
  padding: 0.375em;
}
header #titles-preserved,
#header #titles-preserved {
  right: 0;
  text-align: center;
  vertical-align: middle;
}
/* ------------------------------------------------------------------------ */
/* Navbar */
nav,
#navbar-outer {
  width: 100%;
  display: table;
}
#navbar {
  height: 1.66666667em;
  margin: 0;
  border: 0;
  padding: 3px;
  font-size: 0.75em;
}
#navbar span.currentpage {
  font-weight: bold;
}
#navbar #navbar-left {
  float: left;
  padding: 2px;
  display: table-cell;
}
#navbar #navbar-right,
#navbar #navbar-login {
  text-align: right;
  float: right;
  white-space: nowrap;
  display: table-cell;
}
#navbar #navbar-right {
  padding: 2px;
}
#navbar #navbar-login {
  padding: 0px 2px;
}
#navbar form {
  margin: 0;
  display: inline;
}
#navbar form div {
  display: inline;
}
/* ------------------------------------------------------------------------ */
/* Footer */
footer,
#footer {
  width: 100%;
  height: 2em;
  font-size: x-small;
  text-align: center;
  vertical-align: middle;
}
footer p,
#footer p {
  margin: 0px;
  padding: 0.3em;
}
footer small,
#footer small {
  font-size: x-small;
}
/* ------------------------------------------------------------------------ */
/* Content layout */
#page-container {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
}
#page-container td,
#page-container th {
  padding: 0;
}
#page-inner-container {
  display: table-row;
}
#content-container {
  text-align: left;
  vertical-align: top;
  width: 100%;
  padding: 0.5em;
  display: table-cell;
}
/* ------------------------------------------------------------------------ */
/* Section headers */
h2 {
  font-size: large;
}
/* ------------------------------------------------------------------------ */
/* Existing styling */
/* ------------------------------------------------------------------------ */
/* News items */
div.news {
  padding-top: 2em;
  clear: both;
}
div.newsheader {
  border-bottom: thin solid gray;
  clear: both;
}
div.newsitem {
  background: url('../graphics/box_shadow.png') no-repeat !important;
  padding: 1.2em 0.5em 0.5em 1.2em;
  margin-left: 1em;
  margin-top: 0.5em;
  clear: left;
}
div.newsitem p {
  margin: 0 0.5em 0.5em 0;
}
/* ------------------------------------------------------------------------ */
/* Attention-getting structures */
div.callout {
  margin-right: 2em;
  margin-left: 2em;
  padding: 1em;
  background-color: #EEE;
  border: solid thin black;
}
div.callout p {
  margin-bottom: 0;
}
div.calloutheader {
  font-weight: bold;
}
/* ------------------------------------------------------------------------ */
/* Special Days Legend table */
table.special_legend {
  margin: 0em 0em .5em 0em;
}
table.special_legend div {
  border-style: none none solid none;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  width: 100%;
  padding: 0px 0px 2px 1px;
}
/* ------------------------------------------------------------------------ */
/* Round and Pool filter table */
table.filter {
  border: 1px solid gray;
}
table.filter caption {
  font-size: 120%;
  margin: 0;
  padding: 0;
}
table.filter td {
  padding: .25em 0.25em 0em .25em;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}
table.filter td select {
  margin: .1em auto;
  width: 100%;
}
/* ------------------------------------------------------------------------ */
/* Registration table */
table.register {
  width: auto;
  border-collapse: separate;
  border: 1px solid black;
}
table.register td.label {
  background-color: #e0e8dd;
  text-align: right;
  font-weight: bold;
  padding: 0px 3px;
}
table.register td.field {
  text-align: left;
}
/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */
table.snapshottable {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  empty-cells: hide;
  width: 100%;
}
table.snapshottable td,
table.snapshottable th {
  border: 1px solid black;
  padding: 2px;
  margin: 0;
  text-align: center;
}
table.snapshottable img {
  border: none;
  padding: 0;
  margin: 0;
}
table.snapshottable th {
  background-color: #e0e8dd;
  font-weight: normal;
}
table.snapshottable td.nocell {
  border: none;
}
/* ------------------------------------------------------------------------ */
/* Progress bar */
div.progressbar {
  border: 1px solid black;
  font-size: 0.5em;
  float: left;
}
/* ------------------------------------------------------------------------ */
/* Statistics table */
table.stats {
  /* so that right aligned and left aligned columns don't clash */
}
table.stats td,
table.stats th {
  padding-right: 2em;
}
/* ------------------------------------------------------------------------ */
/* Translation table */
table.translation td,
table.translation th {
  padding-right: 1em;
}
/* ------------------------------------------------------------------------ */
/* Available Project Listings */
table.availprojectlisting {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
table.availprojectlisting tr th {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid black;
}
table.availprojectlisting tr th img {
  border: 0;
}
table.availprojectlisting tr td {
  border-bottom: 1px solid #888;
}
table.availprojectlisting tr td,
table.availprojectlisting tr th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* vim: sw=4 ts=4 expandtab
*/
