@import (reference) "global.less";

/* ------------------------------------------------------------------------ */
/* Global */
body {
    margin: 0;
}

img {
    border: 0;
}

tt {
    color: #cc0000;
}

table {
    border-collapse: collapse;
    th {
        .bold;
    }
    th.label {
        .left-align;
    }
    td, th {
        padding: 0.1em 0.2em;
    }
}

/* ------------------------------------------------------------------------ */
/* HTML5 hacks */
section, footer, aside, main, article, figure {
    display: block;
}

/* ------------------------------------------------------------------------ */
/* Header */
header, #header {
    .full-width;
    height: 5em;
    padding: 0;
    border: 0;
    display: table;
    #logo, #titles-preserved {
        display: table-cell;
    }
    #logo {
        left: 0;
        padding: 3/8em;
    }
    #titles-preserved {
        right: 0;
        .center-align;
        .middle-align;
    }
}

/* ------------------------------------------------------------------------ */
/* Navbar */
nav, #navbar-outer {
    .full-width;
    display: table;
}

#navbar {
    height: 5/3em;
    margin: 0;
    border: 0;
    padding: 3px;
    font-size: 0.75em;
    span.currentpage {
        .bold;
    }
    #navbar-left {
        float: left;
        padding: 2px;
        display: table-cell;
    }
    #navbar-right, #navbar-login {
        .right-align;
        float: right;
        white-space: nowrap;
        display: table-cell;
    }
    #navbar-right {
        padding: 2px;
    }
    #navbar-login {
        padding: 0px 2px;
    }
    form {
        margin: 0;
        display: inline;
        div {
            display: inline;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Alert & Test bar*/
#alertbar-outer, #testbar-outer {
    #navbar-outer;
}

#alertbar, #testbar {
    #navbar;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    p {
        margin: 3px 0;
    }
}

/* ------------------------------------------------------------------------ */
/* Footer */
footer, #footer {
    .full-width;
    height: 2em;
    .really-small;
    .center-align;
    .middle-align;
    p {
        margin: 0px;
        padding: 0.3em;
    }
    small {
        .really-small;
    }
}

/* ------------------------------------------------------------------------ */
/* Content layout */
#page-container {
    .no-border;
    .full-width;
    display: table;
}

#page-body-container {
    display: table-row;
}

#content-container {
    .left-align;
    .top-align;
    width: 100%;
    padding: 0.5em;
    display: table-cell;
}

/* ------------------------------------------------------------------------ */
/* Section dividers */
hr.divider {
    .center-align;
    width: 75%;
}

/* ------------------------------------------------------------------------ */
/* Existing styling */

/* ------------------------------------------------------------------------ */
/* News items */
div.news {
    margin: 1em 0;
}
div.newsheader {
}
div.newsitem {
    background: url('../graphics/box_shadow.png') no-repeat !important;
    padding: 1.2em 0.5em 0.5em 1.2em;
    margin-left: 1em;
    margin-top: 0.5em;
    p {
        margin: 0 0.5em 0.5em 0;
    }
}

/* ------------------------------------------------------------------------ */
/* Editing news items */

table.newsedit {
    width: 100%;
    border-collapse: collapse;
        tr td {
            .top-align;
    }
    tbody.padding tr td.commands,
    tbody.padding tr td.items {
        padding-bottom: 1em;
        padding-top: 0.5em;
    }
    td.commands {
        width: 10%;
        padding-right: 2em;
        padding-left: 1em;
        white-space: nowrap;
    }
    td.items {
        width: 90%;
    }
}

/* ------------------------------------------------------------------------ */
/* Attention-getting structures */

div.callout {
    margin-right: 2em;
    margin-left: 2em;
    padding: 1em;
    background-color: #EEE;
    border: solid thin black;
    p {
        margin-bottom: 0;
    }
}

div.calloutheader {
    .bold;
}

.error, .warning {
    .bold;
}

/* ------------------------------------------------------------------------ */
/* Round and Pool filter table */
#filter_form {
    padding: 0 0.5em 0.5em 0.5em;
}

table.filter {
    width: 100%;
    td {
        padding: .25em 0.25em 0em .25em;
        .top-align;
        white-space: nowrap;
        select {
            margin: .1em auto;
            width: 100%;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Registration table */

table.register {
    width: auto;
    border-collapse: separate;
    border: 1px solid black;
    th, td {
        padding: 3px;
    }
    th {
        .right-align;
        .bold;
    }
    td {
        .left-align;
        input[type=text],
        input[type=password],
        input[type=select] {
            width: 98%;
        }
    }
    td.bar {
        .center-align;
    }
}

/* ------------------------------------------------------------------------ */
/* Site Progress Snapshot table on Activity Hub */

table.snapshottable {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
    td, th {
        border: 1px solid black;
        padding: 2px;
        margin: 0;
        .center-align;
    }
    img {
        border: none;
        padding: 0;
        margin: 0;
    }
    th {
        font-weight: normal;
    }
    td.nocell {
        border: none;
    }
    th.activity-icon-header {
        border: none;
        background-color: #ffffff;
        width: 35%;
    }
    td.stage-icon {
        border-right: 0;
    }
    td.stage-name {
        text-align: left;
        border-left: 0;
        border-right: 0;
    }
    td.stage-access {
        border-left: 0;
    }
}

/* ------------------------------------------------------------------------ */
/* Progress bar */

div.progressbar {
    border: 1px solid black;
    font-size: 0.5em;
    float: left;
}

/* ------------------------------------------------------------------------ */
/* Statistics table */

table.stats {
    /* so that right aligned and left aligned columns don't clash */
    td, th {
        padding-right: 2em;
    }
}

/* ------------------------------------------------------------------------ */
/* Translation table */

table.translation {
    td, th {
        padding-right: 1em;
    }
}

/* ------------------------------------------------------------------------ */
/* Available Project Listings */

table.availprojectlisting {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    tr {
        th {
            .bold;
            .left-align;
            border-bottom: 1px solid black;
            img {
                border: 0;
            }
        }
        td {
            border-bottom: 1px solid #888;
        }
        td, th {
            padding-left: 0.5em;
            padding-right: 0.5em;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* FAQ */

table.faqtable {
    width: 100%;
    border: 0;
    padding: 1em;
    tr {
        td.column {
            .top-align;
            width: 50%;
            padding-right: 1em;
        }
    }
}

div.faqheader {
    .bold;
    .middle-align;
    padding: 0.25em 0.5em;
}

/* ------------------------------------------------------------------------ */
/* User Preferences */

/*
This stylesheet originated from http://www.alistapart.com/articles/slidingdoors/
Quote http://www.alistapart.com/copyright/:
*/
/*
 *  A List Apart gives away CSS styles, JavaScript, PHP and Perl scripts,
 *  XHTML markup techniques, and other bits of "source code" for the use
 *  of its readers. You may freely copy, paste, and modify any of this
 *  code for use on your own web projects large or small, commercial or
 *  non-commercial. You need not ask permission to do so. You need not
 *  credit ALA or its authors. It is our gift to you.
 *
 *  ...
 *
 *  Images, including those used in tutorials (example), cannot be
 *  reproduced outside this magazine, except by the author or designer
 *  who created them.
 *
 *  You may adapt elements of our CSS in your own projects, but the
 *  unique combination of images, colors, sizes, typography, and
 *  positioning ("the design") is copyright 2003 A List Apart Magazine
 *  and Happy Cog Studios and may not be reproduced.
 */

table.preferences {
    border-collapse: collapse;
    td, th {
        border: solid thin black;
    }
    th.longlabel {
        .center-align;
    }
}

.tabs {
    float: left;
    width: 90%;
    border-bottom: solid thin gray;
    ul {
        margin: 0;
        padding: 0 20px 0 10px;
        list-style: none;
    }
    li {
        float: left;
        margin: 0;
        padding: 0 0 0 4px;
        border: solid thin gray;
        border-radius: 5px 5px 0 0;
        margin-bottom: -2px;
    }
    a {
        float: left;
        display: block;
        padding: 5px 15px 4px 6px;
        text-decoration: none;
        min-width: 8em;
    }
    .current-tab {
        border: solid thin gray;
        border-bottom: none;
        a {
            .bold;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Themed tables */

table.themed {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    tr {
        th, td {
            padding: 0.1em;
        }
    }
}

table.theme_striped {
    tr {
        th, td {
            padding: 0.1em 0.5em 0.1em 0.5em;
        }
    }
}

table.basic {
    border-collapse: collapse;
    border: 1px solid black;
    th {
        background-color: #CCC;
    }
    th.label {
        .left-align;
    }
    td, th {
        border: 1px solid black;
    }
    td.satisfied {
        .right-align;
        background-color: #ccffcc;
    }
    td.not_satisfied {
        .right-align;
        background-color: #ffcccc;
    }
    textarea {
        width: 100%;
    }
}

table.no-border {
    td, th {
        border: none;
    }
}

/* ------------------------------------------------------------------------ */
/* PPV Report */

p.inline_input {
    .no-margin;
    .no-padding;
}
p.hanging_indent {
    text-indent: -1.25em;
    margin-left: 1.25em;
}
p.hanging_indent_long {
    text-indent: -3em;
    margin-left: 3em;
}
p.form_problem {
    color: red;
    font-weight: bold;
    margin-bottom: 0;
}
p.form_problem:before {
    content: '\\002193 '; /* down-arrow */
}
table.ppv_reportcard {
    border: solid thin black;
    width: 95%;
    td {
        border: solid thin black;
    }
}

/* ------------------------------------------------------------------------ */
/* Image Sources */

table.image_source {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    th {
        background-color: #eee;
        border: 1px solid #999;
        .center-align;
        padding: 5px;
    }
    td {
        border: 1px solid #999;
        padding: 5px;
        a.sourcelink {
            font-size: 90%;
            margin: 10px 0px 3px 25px;
        }
    }
    tr.e {
        background-color: #eee;
    }
    tr.o {
        background-color: #ddd;
    }
    th.label {
        .left-align;
    }
    td.enabled {
        background-color: #9f9;
        .center-align;
        }
    td.disabled {
        background-color: #ddd;
        .center-align;
    }
    td.pending {
        background-color: #ff8;
        .center-align;
    }
}

div.perms_wrapper {
    width: 40%;
    display: inline-block;
    border-bottom: dotted black 1px;
    padding: 2px;
}

/* ------------------------------------------------------------------------ */
/* Page Detail */

table.pagedetail {
    width: auto;
    th, td {
        .center-align;
        font-weight: normal;
        border: 1px solid black;
    }
    td.in_progress {
        background-color: #FC6;
    }
    td.done_current {
        background-color: #9F6;
    }
    td.done_previous {
        background-color: #F36;
    }
}

/* ------------------------------------------------------------------------ */
/* Remote File Manager */

table.dirlist {
    width: 100%;
    .actions {
        text-align: center!important;
    }
    caption {
        .left-align;
        font-size: 111%;
        margin-top: 0.5em;
        padding: 5px;
    }
}

/* ------------------------------------------------------------------------ */
/* Standard Editing Interface */

#standard_interface {
    .no-padding;
    .no-margin;
    background-color: #CDC0B0;

    #imagedisplay {
        .center-align;
    }
}

#text_data, #text_data:focus {
    outline: none;
}

/* ------------------------------------------------------------------------ */
/* Enhanced Editing Interface */

#enhanced_interface {
    .center-align;
    overflow: hidden;
    background-color: #CDCDC1;

    #tbtext {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        border: 1px solid #000000;
        overflow: auto;
    }
    #tdtop {
        .middle-align;
        border: 1px solid #000000;
        background-color: #CDC0B0;
        padding: 2px;
    }
    #tdtext {
        .top-align;
        border: 1px solid #000000;
        background-color: #CDCDC1;
        padding: 2px;
    }
    #tdbottom {
        .top-align;
        border: 1px solid #000000;
        background-color: #EEDFCC;
        padding: 2px;
    }
    #text_data, #text_data:focus {
        background-color: #FFF8DC;
        color: #000000;
        padding: 2px;
        outline: none;
    }
    .dropsmall {
        font-size: 75%;
        background-color: #FFF8DC;
    }
    .boxnormal {
        background-color: #FFF8DC;
    }
}

/* ------------------------------------------------------------------------ */
/* WordCheck Interface */

#wordcheck_interface {
    .center-align;
    background-color: #CDCDC1;
    overflow: auto;

    #tbtext {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #000000;
        padding: 10px;
    }
    #tdtop {
        border: 1px solid #000000;
        background-color: #CDC0B0;
        padding: 2px;
    }
    #tdtext {
        .top-align;
        .left-align;
        border: 1px solid #000000;
        background-color: #FFF8DC;
        padding: 0.5em;
    }
}

/* ------------------------------------------------------------------------ */
/* control frame */
.control-frame {
    background-color: #CDC0B0;
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------------------------ */
/* Proofreading Toolbox */

#toolbox {
    padding: 2px;
/* default buttons have small text = 83% */
    .selector_button {
        margin-top: 1px;
        font-size: 1em;
        padding: 0.1em 0.15em 0 0.15em;
        border: 1px solid black;
        margin-right: 2px;
        min-width: 1em;
    }

    .proofbutton {
        padding: 1px 6px;
        margin: 1px 0px;
        cursor: pointer;
        font-size: 0.9em;
    }

    .key-block {
        display: none;
    }

    .show {
        display: table;
    }

    .table-row {
        display: table-row;
    }

    .table-cell {
        display: table-cell;
    }

    .char_box {
        padding-top: 1px;
    }

    .big_text {
        font-size: 300%;
        width: 1.3em;
        margin: 2px;
        text-align: center;
    }
    .picker {
        margin-top: 1px;
        font-size: 1em;
        padding: 0 1px 0 0;
        vertical-align: middle;
        width: 100%;
        min-width: 1em;
        max-width: 1.1em;
    }

    .invisible {
        visibility: hidden;
    }

    /* adjust so tools do not jump around with different character pickers */
    #char-selector {
        min-width: 225px;
    }

    #char-picker {
        display: inherit;
    }

    .hide-picker-button {
        font-size: 2em;
        height: 2.5em;
        padding: 0;
        background: transparent;
    }

    #tools {
        margin-left: 2px;
        margin-right: 0.5em;
        text-align: right;
        width: 100%;
    }
}

/* ------------------------------------------------------------------------ */
/* Special days tables */

table.list_special_days {
    width: 90%; margin: auto;
    td,th {
        border: 1px solid #999;
        padding: 3px;
        }
    td.codecell {
        vertical-align:middle;
        text-align:center;
    }
    th.headers {
        padding:0.5em;
    }
    tr.e {
        background-color: #eee;
    }
    tr.o {
        background-color: #ddd;
    }
    td.enabled {
        background-color: #9f9;
        text-align: center;
    }
    td.disabled {
        background-color: #ddd;
        text-align: center;
    }
    td.center {
        text-align: center;
    }
    tr.month > * {
        border: none;
        border-bottom: solid 2px black;
    }
    td.right, th.right {
        text-align: right; font-weight: normal;
    }
    h2 {
        margin: 1em auto auto auto; text-align: left;
    }
}

table.show_special_days {
    th {
        background-color: #eeeeee;
    }
}

table.edit_special_day {
    width: 90%;
    margin: auto;
    th, td {
        border: 1px solid black;
        padding: 5px;
        background-color: #eeeeee;
    }
}

/* ------------------------------------------------------------------------ */
/* Search Form */

/* Container to wrap the search columns */
div.search-columns {
    width: 99%;
    overflow: auto;
    .center-align;
    clear: both;
}

/* This sets everything into one column... */
table.search-column {
    width: 99%;
    /* Set the size of the row label to be consistent */
    tr th {
        width: 8em;
    }
}

/* ... and this says if the screen is >800px, make it two columns. */
@media only screen and (min-width: 800px) {
    table.search-column {
        width: 50%;
        float: left;
        tr th {
            width: auto;
        }
    }
}

/* ------------------------------------------------------------------------ */
/* Search Results drop-down */

.dropdown {
    position: relative;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 1.5em;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 0.3em;
    margin: 0 0 0 -15em;
    border-radius: 0.3em;
    z-index: 1;
}

/* button looking like a link */
.dropdown-button {
    border: none;
    padding: 1px;
    background-color: transparent;
    cursor: pointer;
    font-family: initial;
    font-size: initial;
    text-decoration: underline;
}

.dropdown-show {
    display:block;
}

/* ------------------------------------------------------------------------ */
/* PM link box */

#pm_links {
    .plain-list;
    .left-align;
    .top-align;
    padding: 0 1em;
    float:right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid black;
    h2 {
        .center-align;
        font-size: 1em;
    }
    li {
        margin-top: 3px;
    }
}

/* ------------------------------------------------------------------------ */
/* Page compare grid */

.grid-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 2em;
    grid-row-gap: 2px;
}

/* ------------------------------------------------------------------------ */
/* Project Smoothreading */

.thin-heading {
    margin-bottom: 0.2em;
}

.thin-para {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.list-head {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* ------------------------------------------------------------------------ */
/* Codepoint Validator */

.flex_container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fixedbox {
    flex: 0 0 auto;
    background-color: #CDC0B0;
    padding: 2px;
}

.stretchbox {
    flex: auto;
    min-height: 10px;
    overflow: auto;
    background-color: HoneyDew;
}

.ws-pre {
    white-space: pre;
    padding-left: 0.5em;
    text-align: left;
    font-family: monospace;
}

.bad-char {
    background: #ff99cc;
}

/* ------------------------------------------------------------------------ */
/* CharSuite Explorer */

.gs-char {
    font-size: 1.5em;
}

.gs-codepoint {
    font-size: 0.7em;
}

/* ------------------------------------------------------------------------ */
/* replace text validator */

.replace_check {
    height: 20em;
    width: 50em;
    border: 1px solid black;
}

/* vim: sw=4 ts=4 expandtab
*/
