/* preview div */
#prevdiv {
    height: 100%;
}

/* preview wrapper */
#id_tp_outer {
    margin: 0;
    text-align: left;
    overflow: auto;
}

/* text area */
#text_preview {
    padding: 0.2em;
    white-space: pre;
    position: relative;
}
.no_display {
    display: none;
}

/* control panel */
#id_controls {
    padding-left: 2px;
    padding-right: 2px;
}

/* inline block for grouped controls */
.ilb {
    display: inline-block;
    margin: 1px;
    padding: 2px 3px;
}

/* configure divs */
.box2 {
    margin: 20px 10px 20px 10px;
}

/* color configure div */
#id_markmenu {
    text-align: left;
}

#color_selector {
    text-align: left;
}

#color_test {
    padding: 0.15em;
}

/* in-line styles */ 
.i {
    font-style: italic;
}
.b {
    font-weight: bold;
}
.g {
    letter-spacing: 0.25em;
    margin-right: -0.2em;
}
.sc {
    font-variant: small-caps;
}
.tt {
    text-transform: lowercase;
}
.f {
    font-style: normal;
}
.u {
    text-decoration: underline;
}
.sub {
    vertical-align: sub;
    font-size: smaller;
}
.sup {
    vertical-align: super;
    font-size: smaller;
}

/* re-wrap styles */
/* chapter */
.head2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
    text-align: center;
}
/* sub heading */
.head3 {
    font-size: 1.17em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
}
/* section */
.head4 {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    font-weight: bold;
    text-align: center;
}

/* thought break */
.tb {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15%;
    margin-right: 15%;
    border-style: inset;
    border-width: 1px;
}

/* block quote */
.bq {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
}

/* no wrap */
.nw {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    white-space: pre-wrap;
}
