/* ------------------------------------------------------------------------ */
/* Theme coloring for Royal Blues */
/* ------------------------------------------------------------------------ */
/* Import directive */
body {
  background-color: #ffffff;
  color: #000000;
}
body a:link {
  color: #330099;
}
body a:visited {
  color: #330099;
}
body a:active {
  color: #330099;
}
header,
#header {
  background-color: #99ccff;
  color: #000000;
}
#logo a {
  background-image: url("http://www.pgdp.net/c/pinc/templates/royal_blues/graphics/logo.gif");
  height: 68px;
  width: 360px;
  display: block;
}
#navbar {
  background-color: #000099;
  font-family: Verdana, Arial, sans-serif;
}
#navbar a:link,
#navbar a:visited,
#navbar a:active {
  color: #ffffff;
}
#navbar span.text,
#navbar span.currentpage {
  color: #ffffff;
}
#page-container {
  background-color: #99ccff;
}
#content-container {
  background-color: #ffffff;
  color: #000000;
}
#rounded-corner {
  background-color: #ffffff;
}
#sidebar,
#statsbar {
  background-color: #99ccff;
  color: #000000;
}
footer,
#footer {
  background-color: #000099;
  color: #ffffff;
  font-family: Verdana, Arial, sans-serif;
}
footer a:link,
#footer a:link,
footer a:visited,
#footer a:visited,
footer a:active,
#footer a:active {
  color: #ffffff;
}
h2 {
  color: #000099;
  font-family: Verdana, Arial, sans-serif;
}
#completed-titles .title-listing,
#recent-titles .title-listing {
  font-family: Verdana, Arial, sans-serif;
}
#completed-projects table {
  font-family: Verdana, Arial, sans-serif;
}
#teams-nav h3 {
  font-family: Verdana, Arial, sans-serif;
}
#key-help-documents {
  font-family: Verdana, Arial, sans-serif;
}
.sans-serif {
  font-family: Verdana, Arial, sans-serif;
}
/* vim: sw=4 ts=4 expandtab
*/
/* vim: sw=4 ts=4 expandtab
*/
