@import (reference) "global.less";

/* ------------------------------------------------------------------------ */
/* Statsbar */

#statsbar {
    .left-align;
    .top-align;
    width: 25%;
    padding: 0.5em;
    display: table-cell;
}

#content-container {
    &.left-statsbar, &.right-statsbar {
        width: 74%;
    }
    &.left-statsbar {
        padding-right: 1em;
    }
    &.right-statsbar {
        padding-left: 1em;
    }
}

#rounded-corner {
    width: 1%;
    display: table-cell;
    &.left-statsbar {
        border-top-left-radius: 20px;
    }
    &.right-statsbar {
        border-top-right-radius: 20px;
    }
}

/* ------------------------------------------------------------------------ */
/* Statsbar components */

#completed-titles, #recent-titles {
    h3 {
        .center-align;
        .underlined;
        .bold;
        font-size: 100%;
    }
    ul {
        .no-padding;
    }
    li {
        list-style-type: none;
        padding-bottom: 1em;
    }
    .book-title {
        color: #444444;
        .bold;
    }
    .title-listing {
        .really-small;
    }
    .more-link {
        .center-align;
    }
}

#completed-projects {
    .center-align;
    h3 {
        .bold;
        font-size: 100%;
    }
    table {
        .no-border;
        .no-cellpadding;
        .no-cellspacing;
        .full-width;
        .small;
        .month {
            width: 60%;
            .right-align;
        }
        .count {
            width: 40%;
            .left-align;
        }
    }
}

#birthdays {
    .center-align;
    h3 {
        .bold;
        font-size: 100%;
    }
    ul {
        .no-padding;
    }
    li {
        list-style-type: none;
        .small;
    }
}

#stats-central-link {
    .center-align;
    .small;
}

#teams-nav {
    .small;
    h3 {
        .bold;
        .center-align;
    }
    ul {
        .no-padding;
    }
    li {
        list-style-type: none;
        padding-left: 1em;
    }
    .more-link {
        .center-align;
    }
}

#key-help-documents {
    .small;
    h3 {
        .center-align;
        .bold;
    }
    ul {
        .no-padding;
    }
    li {
        list-style-type: none;
    }
}

#about-dp {
    .small;
}

/* vim: sw=4 ts=4 expandtab
*/
