/* ------------------------------------------------------------------------ */
/* Statsbar */
#statsbar {
  text-align: left;
  vertical-align: top;
  width: 25%;
  padding: 0.5em;
  display: table-cell;
}
#content-container.left-statsbar,
#content-container.right-statsbar {
  width: 74%;
}
#content-container.left-statsbar {
  padding-right: 1em;
}
#content-container.right-statsbar {
  padding-left: 1em;
}
#rounded-corner {
  width: 1%;
  display: table-cell;
}
#rounded-corner.left-statsbar {
  border-top-left-radius: 20px;
}
#rounded-corner.right-statsbar {
  border-top-right-radius: 20px;
}
/* ------------------------------------------------------------------------ */
/* Statsbar components */
#completed-titles h3,
#recent-titles h3 {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: 100%;
}
#completed-titles ul,
#recent-titles ul {
  padding: 0;
}
#completed-titles li,
#recent-titles li {
  list-style-type: none;
  padding-bottom: 1em;
}
#completed-titles .book-title,
#recent-titles .book-title {
  color: #444444;
  font-weight: bold;
}
#completed-titles .title-listing,
#recent-titles .title-listing {
  font-size: x-small;
}
#completed-titles .more-link,
#recent-titles .more-link {
  text-align: center;
}
#completed-projects {
  text-align: center;
}
#completed-projects h3 {
  font-weight: bold;
  font-size: 100%;
}
#completed-projects table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: small;
}
#completed-projects table td,
#completed-projects table th {
  padding: 0;
}
#completed-projects table .month {
  width: 60%;
  text-align: right;
}
#completed-projects table .count {
  width: 40%;
  text-align: left;
}
#birthdays {
  text-align: center;
}
#birthdays h3 {
  font-weight: bold;
  font-size: 100%;
}
#birthdays ul {
  padding: 0;
}
#birthdays li {
  list-style-type: none;
  font-size: small;
}
#stats-central-link {
  text-align: center;
  font-size: small;
}
#teams-nav {
  font-size: small;
}
#teams-nav h3 {
  font-weight: bold;
  text-align: center;
  margin: 0;
}
#teams-nav ul {
  margin: 0;
  padding: 0;
}
#teams-nav li {
  list-style-type: none;
  padding-left: 1em;
}
#teams-nav .more-link {
  text-align: center;
  margin: 0;
}
#key-help-documents {
  font-size: small;
}
#key-help-documents h3 {
  text-align: center;
  font-weight: bold;
}
#key-help-documents ul {
  padding: 0;
}
#key-help-documents li {
  list-style-type: none;
}
#about-dp {
  font-size: small;
}
/* vim: sw=4 ts=4 expandtab
*/
