/* ------------------------------------------------------------------------ */
/* Statsbar */
#statsbar {
  text-align: left;
  vertical-align: top;
  width: 25%;
  padding: 0.5em;
  padding-left: 1em;
  display: table-cell;
  font-size: small;
}
#statsbar h2 {
  text-align: center;
  font-size: 1.25em;
}
#statsbar .more-link {
  text-align: center;
  font-size: x-small;
  padding: 0 0 1em 0;
}
#content-container {
  width: 74%;
}
#content-container.left-statsbar {
  padding-right: 1em;
}
#content-container.right-statsbar {
  padding-left: 1em;
}
#rounded-corner {
  width: 1%;
  display: table-cell;
}
#rounded-corner.left-statsbar {
  border-top-left-radius: 20px;
}
#rounded-corner.right-statsbar {
  border-top-right-radius: 20px;
}
@media only screen and (max-width: 768px) {
  #content-container.left-statsbar,
  #content-container.right-statsbar {
    width: 100%;
  }
  #statsbar {
    display: block;
    width: 100%;
  }
  #statsbar.left-statsbar {
    display: block;
    order: 2;
  }
  #rounded-corner {
    display: none;
  }
}
/* ------------------------------------------------------------------------ */
/* Statsbar components */
#completed-titles ul,
#recent-titles ul {
  padding: 0;
}
#completed-titles li,
#recent-titles li {
  list-style-type: none;
}
#completed-titles li,
#recent-titles li {
  margin-top: 1em;
}
#completed-titles .book-title,
#recent-titles .book-title {
  font-weight: bold;
}
#completed-titles .title-listing,
#recent-titles .title-listing {
  font-size: x-small;
}
#completed-projects {
  text-align: center;
}
#completed-projects table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
#completed-projects table td,
#completed-projects table th {
  padding: 0;
}
#completed-projects table .month {
  width: 60%;
  text-align: right;
}
#completed-projects table .count {
  width: 40%;
  text-align: left;
}
#birthdays {
  text-align: center;
}
#birthdays ul {
  padding: 0;
}
#birthdays li {
  list-style-type: none;
}
#tally-stats {
  margin-top: 1em;
}
#tally-stats #server-time {
  text-align: center;
  padding: 0;
}
#tally-stats .this-user {
  font-weight: bold;
}
#key-help-documents ul,
#teams-nav ul {
  padding: 0;
}
#key-help-documents li,
#teams-nav li {
  list-style-type: none;
}
#key-help-documents li,
#teams-nav li {
  margin-top: 5px;
}
#about-dp {
  font-size: small;
}
/* vim: sw=4 ts=4 expandtab
*/
