@import (reference) "global.less";

body {
    background-color: @page-background;
    color: @page-text;
    a:link {
        color: @link-color;
    }
    a:visited {
        color: @visited-color;
    }
    a:active {
        color: @active-color;
    }
}

header, #header {
    background-color: @header-background;
    color: @header-text;
}

#logo a {
    background-image: url("http://www.pgdp.net/c/pinc/templates/@{theme-name}/graphics/logo.gif");
    height: 68px;
    width: 360px;
    display: block;
}

#navbar {
    background-color: @navbar-background;
    .sans-serif;
    .unicolor-link(@navbar-text);
    span.text, span.currentpage {
        color: @navbar-text;
    }
}

#page-container {
    background-color: @sidebar-background;
}

#content-container {
    background-color: @page-background;
    color: @page-text;
}

#rounded-corner {
    background-color: @page-background;
}

#sidebar, #statsbar {
    background-color: @sidebar-background;
    color: @sidebar-text;
}

footer, #footer {
    background-color: @footer-background;
    color: @footer-text;
    .sans-serif;
    .unicolor-link(@footer-text);
}

h2 {
    color: @h2-color;
    .sans-serif;
}

#completed-titles, #recent-titles {
    .title-listing {
        .sans-serif;
    }
}

#completed-projects table {
    .sans-serif;
}

#teams-nav h3 {
    .sans-serif;
}

#key-help-documents {
    .sans-serif;
}

.sans-serif {
    font-family: @sans-serif-font;
}

/* vim: sw=4 ts=4 expandtab
*/
